.game-icon {
	--icon-missing: 0px 0px;
	--icon-addercrown: -33px 0px;
	--icon-adderfang: -66px 0px;
	--icon-adderhide: -99px 0px;
	--icon-almond: -132px 0px;
	--icon-ancientroot: -165px 0px;
	--icon-ancienttooth: -198px 0px;
	--icon-animalfat: -231px 0px;
	--icon-animalfat-r: -264px 0px;
	--icon-ant: -297px 0px;
	--icon-antfarm: -330px 0px;
	--icon-antlers-reddeer: -363px 0px;
	--icon-antlers-reindeer: -396px 0px;
	--icon-antlersteakcutlery: -429px 0px;
	--icon-ants-aphids: -462px 0px;
	--icon-ants-empress: -495px 0px;
	--icon-ants-larvae: -528px 0px;
	--icon-ants-pupae: -561px 0px;
	--icon-ants-queen: -594px 0px;
	--icon-ants-soldiers: -627px 0px;
	--icon-anyleather: -660px 0px;
	--icon-apatite: -693px 0px;
	--icon-applecore: -726px 0px;
	--icon-applepie: -759px 0px;
	--icon-apple: -792px 0px;
	--icon-argentite: -825px 0px;
	--icon-armoredstriders: -858px 0px;
	--icon-arrow: -891px 0px;
	--icon-arrow-bone: -924px 0px;
	--icon-arrow-metal: -957px 0px;
	--icon-arrow-shattered: -990px 0px;
	--icon-arrow-stone: -1023px 0px;
	--icon-ashes: -1056px 0px;
	--icon-aurochshair: -1089px 0px;
	--icon-autumnsteak: -1122px 0px;
	--icon-axe-m: -1155px 0px;
	--icon-bar-bronze: -1188px 0px;
	--icon-bar-castiron: -1221px 0px;
	--icon-bar-copper: 0px -33px;
	--icon-bar-gold: -33px -33px;
	--icon-bar-hardmetal: -66px -33px;
	--icon-bar-rosegold: -99px -33px;
	--icon-bar-metiron: -132px -33px;
	--icon-bark-birch: -165px -33px;
	--icon-barkboat: -198px -33px;
	--icon-barkbread: -231px -33px;
	--icon-barkreinforcement: -264px -33px;
	--icon-bark: -297px -33px;
	--icon-bar-metal: -330px -33px;
	--icon-bar-preciousmetal: -363px -33px;
	--icon-bar-silver: -396px -33px;
	--icon-bar-steel: -429px -33px;
	--icon-bar-tin: -462px -33px;
	--icon-bar-toolmetal: -495px -33px;
	--icon-bar-wroughtiron: -528px -33px;
	--icon-basalt: -561px -33px;
	--icon-batcape: -594px -33px;
	--icon-bat-clean: -627px -33px;
	--icon-bathide: -660px -33px;
	--icon-bathide-blood: -693px -33px;
	--icon-batter: -726px -33px;
	--icon-batwingnecklace: -759px -33px;
	--icon-batwings: -792px -33px;
	--icon-batwingsdried: -825px -33px;
	--icon-bearfurtrimmings: -858px -33px;
	--icon-beartalman: -891px -33px;
	--icon-beartooth: -924px -33px;
	--icon-beavercrown: -957px -33px;
	--icon-beaverdelights: -990px -33px;
	--icon-beaverfiber: -1023px -33px;
	--icon-beavergauntlets: -1056px -33px;
	--icon-beavertail: -1089px -33px;
	--icon-beaverteeth: -1122px -33px;
	--icon-beeswax: -1155px -33px;
	--icon-beeswaxcandle: -1188px -33px;
	--icon-beet: -1221px -33px;
	--icon-beetbird: 0px -66px;
	--icon-beethatstung: -33px -66px;
	--icon-beetleaves: -66px -66px;
	--icon-berry: -99px -66px;
	--icon-berryfruit: -132px -66px;
	--icon-birchbarkbream: -165px -66px;
	--icon-birdcherry: -198px -66px;
	--icon-birthdaycake: -231px -66px;
	--icon-blackcoal: -264px -66px;
	--icon-blackribeye: -297px -66px;
	--icon-bloom: -330px -66px;
	--icon-blubberfeast: -363px -66px;
	--icon-blueberryslice: -396px -66px;
	--icon-boartusk: -429px -66px;
	--icon-boartuskhelmet: -462px -66px;
	--icon-boneash: -495px -66px;
	--icon-bone: -528px -66px;
	--icon-boneglue: -561px -66px;
	--icon-bonegreaves: -594px -66px;
	--icon-bonemarrow: -627px -66px;
	--icon-bonepins: -660px -66px;
	--icon-borewormbeak: -693px -66px;
	--icon-borewormmask: -726px -66px;
	--icon-bough: -759px -66px;
	--icon-bouquet: -792px -66px;
	--icon-branch: -825px -66px;
	--icon-bread: -858px -66px;
	--icon-brick-acre: -891px -66px;
	--icon-brick-ball: -924px -66px;
	--icon-brick-bone: -957px -66px;
	--icon-brick-cave: -990px -66px;
	--icon-brick-gray: -1023px -66px;
	--icon-brick-pit: -1056px -66px;
	--icon-brimstone: -1089px -66px;
	--icon-broiledburbot: -1122px -66px;
	--icon-bronzehelm: -1155px -66px;
	--icon-bronzesteed: -1188px -66px;
	--icon-bullpipe: -1221px -66px;
	--icon-bunny-dead: 0px -99px;
	--icon-bunnyslippers: -33px -99px;
	--icon-butcherscleaver: -66px -99px;
	--icon-butterbulb: -99px -99px;
	--icon-butter: -132px -99px;
	--icon-cakeknife: -165px -99px;
	--icon-camomilecompress: -198px -99px;
	--icon-camomiledry: -231px -99px;
	--icon-candleberrywax: -264px -99px;
	--icon-carrotcake: -297px -99px;
	--icon-carrot: -330px -99px;
	--icon-cassiterite: -363px -99px;
	--icon-castirontrivet: -396px -99px;
	--icon-catgold: -429px -99px;
	--icon-caveanglerlight: -462px -99px;
	--icon-caveanglerscales: -495px -99px;
	--icon-caveanglerscales-raw: -528px -99px;
	--icon-cavebattery: -561px -99px;
	--icon-cavecentipede: -594px -99px;
	--icon-cavecoralring: -627px -99px;
	--icon-cavedust: -660px -99px;
	--icon-cavelouseleg: -693px -99px;
	--icon-cavemoth: -726px -99px;
	--icon-cavenote: -759px -99px;
	--icon-caveslime: -792px -99px;
	--icon-centibab: -825px -99px;
	--icon-chalcopyrite: -858px -99px;
	--icon-cheese-abbaye: -891px -99px;
	--icon-cheese-brique: -924px -99px;
	--icon-cheese-brodgarblue: -957px -99px;
	--icon-cheese-cabrales: -990px -99px;
	--icon-cheese-caciotta: -1023px -99px;
	--icon-cheesecake: -1056px -99px;
	--icon-cheese-cavecheddar: -1089px -99px;
	--icon-cheese-cellarcheddar: -1122px -99px;
	--icon-cheese-creamycamembert: -1155px -99px;
	--icon-cheese-feta: -1188px -99px;
	--icon-cheese-gbejna: -1221px -99px;
	--icon-cheese-genericgouda: 0px -132px;
	--icon-cheese-halloumi: -33px -132px;
	--icon-cheese-harmesan: -66px -132px;
	--icon-cheese-jorbonzola: -99px -132px;
	--icon-cheese-manchego: -132px -132px;
	--icon-cheese-midnightblue: -165px -132px;
	--icon-cheese-mothzarella: -198px -132px;
	--icon-cheese-muskymilben: -231px -132px;
	--icon-cheese-oscypki: -264px -132px;
	--icon-cheese-pecorino: -297px -132px;
	--icon-cheese-roncal: -330px -132px;
	--icon-cheese-sunlitstilton: -363px -132px;
	--icon-cheese-temmentaler: -396px -132px;
	--icon-cheese-zamorano: -429px -132px;
	--icon-chefshat: -462px -132px;
	--icon-chefspin: -495px -132px;
	--icon-cherry: -528px -132px;
	--icon-chestnut: -561px -132px;
	--icon-chestnutroast: -594px -132px;
	--icon-chick: -627px -132px;
	--icon-chick-dead: -660px -132px;
	--icon-chicken-cleaned: -693px -132px;
	--icon-chickensalad: -726px -132px;
	--icon-chiefhat: -759px -132px;
	--icon-chitinhelmet: -792px -132px;
	--icon-chitinhook: -825px -132px;
	--icon-chitinsequin: -858px -132px;
	--icon-chivetrout: -891px -132px;
	--icon-chumbait: -924px -132px;
	--icon-cigar: -957px -132px;
	--icon-cinnabar: -990px -132px;
	--icon-clambake: -1023px -132px;
	--icon-clay-acre: -1056px -132px;
	--icon-clay-ball: -1089px -132px;
	--icon-clay-bone: -1122px -132px;
	--icon-clay-cave: -1155px -132px;
	--icon-clay: -1188px -132px;
	--icon-clay-fine: -1221px -132px;
	--icon-clay-gray: 0px -165px;
	--icon-clay-pit: -33px -165px;
	--icon-clay-potters: -66px -165px;
	--icon-cleancarcass: -99px -165px;
	--icon-clogs: -132px -165px;
	--icon-cloth: -165px -165px;
	--icon-clothwadding: -198px -165px;
	--icon-clue-assault: -231px -165px;
	--icon-clue-battery: -264px -165px;
	--icon-clue-murder: -297px -165px;
	--icon-clue-rummage: -330px -165px;
	--icon-clue-theft: -363px -165px;
	--icon-clue-trespass: -396px -165px;
	--icon-clue-vandal: -429px -165px;
	--icon-clue-war: -462px -165px;
	--icon-coal: -495px -165px;
	--icon-coiledropehotpad: -528px -165px;
	--icon-coins-castiron-50: -561px -165px;
	--icon-coins-copper-50: -594px -165px;
	--icon-coins-gold-50: -627px -165px;
	--icon-coins-rcp: -660px -165px;
	--icon-coins-silver-50: -693px -165px;
	--icon-coins-steel-50: -726px -165px;
	--icon-coins-tin-50: -759px -165px;
	--icon-coins-wroughtiron-50: -792px -165px;
	--icon-coldcompress: -825px -165px;
	--icon-colorblack: -858px -165px;
	--icon-colorblue: -891px -165px;
	--icon-colorgreen: -924px -165px;
	--icon-colororange: -957px -165px;
	--icon-colorpurple: -990px -165px;
	--icon-colorred: -1023px -165px;
	--icon-colorturquoise: -1056px -165px;
	--icon-colorwhite: -1089px -165px;
	--icon-coloryellow: -1122px -165px;
	--icon-conecow: -1155px -165px;
	--icon-cone: -1188px -165px;
	--icon-conegruel: -1221px -165px;
	--icon-copperkettle: 0px -198px;
	--icon-copperscales: -33px -198px;
	--icon-cork: -66px -198px;
	--icon-cornbraid: -99px -198px;
	--icon-crabcakes: -132px -198px;
	--icon-crabclaw: -165px -198px;
	--icon-crabroe: -198px -198px;
	--icon-crabshell: -231px -198px;
	--icon-crabshellsunfeather: -264px -198px;
	--icon-cropseeds: -297px -198px;
	--icon-crudeidol: -330px -198px;
	--icon-cruelsplinter: -363px -198px;
	--icon-cucumbersalsa: -396px -198px;
	--icon-curd-cow: -429px -198px;
	--icon-curd: -462px -198px;
	--icon-curdnchives: -495px -198px;
	--icon-curd-sheep: -528px -198px;
	--icon-cutthroatknuckles: -561px -198px;
	--icon-cylinderhat: -594px -198px;
	--icon-darkheart: -627px -198px;
	--icon-deathchrysalis: -660px -198px;
	--icon-deepfouls: -693px -198px;
	--icon-deepfriedbird: -726px -198px;
	--icon-deepseaatavism: -759px -198px;
	--icon-die-1: -792px -198px;
	--icon-die-2: -825px -198px;
	--icon-die-3: -858px -198px;
	--icon-die-4: -891px -198px;
	--icon-die-5: -924px -198px;
	--icon-die-6: -957px -198px;
	--icon-dolomite: -990px -198px;
	--icon-dough-applepie: -1023px -198px;
	--icon-dough-barkbread: -1056px -198px;
	--icon-dough-blueberryslice: -1089px -198px;
	--icon-dough-bread: -1122px -198px;
	--icon-dough-carrotcake: -1155px -198px;
	--icon-dough-cheesecake: -1188px -198px;
	--icon-dough-eggcake: -1221px -198px;
	--icon-dough-fishpie: 0px -231px;
	--icon-dough-fishwrap: -33px -231px;
	--icon-dough-fruitpie: -66px -231px;
	--icon-dough-fruitroast: -99px -231px;
	--icon-dough-greenleafpie: -132px -231px;
	--icon-dough-grubpie: -165px -231px;
	--icon-dough-honeybun: -198px -231px;
	--icon-dough-jellycake: -231px -231px;
	--icon-dough-linseedloaf: -264px -231px;
	--icon-dough-meatpie: -297px -231px;
	--icon-dough-mushroomburstglutton: -330px -231px;
	--icon-dough-nutjerky: -363px -231px;
	--icon-dough-peapie: -396px -231px;
	--icon-dough-pirozhki: -429px -231px;
	--icon-dough-pumpkinbread: -462px -231px;
	--icon-dough-pumpkinpie: -495px -231px;
	--icon-dough-raisinbuttercake: -528px -231px;
	--icon-dough-ringofbrodgar: -561px -231px;
	--icon-dough-scones: -594px -231px;
	--icon-dough-seedcrispbread: -627px -231px;
	--icon-dough-strawberrycake: -660px -231px;
	--icon-dough-wellplaicedpie: -693px -231px;
	--icon-dowrod: -726px -231px;
	--icon-dragonfly-emerald: -759px -231px;
	--icon-dragonfly-ruby: -792px -231px;
	--icon-dragonhelm: -825px -231px;
	--icon-dream: -858px -231px;
	--icon-dressedsalad: -891px -231px;
	--icon-drinkinghorn: -924px -231px;
	--icon-druidshelm: -957px -231px;
	--icon-earthenwareplatter: -990px -231px;
	--icon-earthenwareplatter-u: -1023px -231px;
	--icon-earthworm: -1056px -231px;
	--icon-easteregg0: -1089px -231px;
	--icon-easteregg1: -1122px -231px;
	--icon-easteregg2: -1155px -231px;
	--icon-easteregg3: -1188px -231px;
	--icon-eggcake: -1221px -231px;
	--icon-egg-chicken-boiled: 0px -264px;
	--icon-egg-chicken: -33px -264px;
	--icon-egg-chicken-fried: -66px -264px;
	--icon-electrifiedrod: -99px -264px;
	--icon-encumberedroast: -132px -264px;
	--icon-entrails: -165px -264px;
	--icon-ernst: -198px -264px;
	--icon-escargotamour: -231px -264px;
	--icon-everglowingember: -264px -264px;
	--icon-exquisitebelt: -297px -264px;
	--icon-exquisiterot: -330px -264px;
	--icon-exquisiterotu: -363px -264px;
	--icon-extrastitch: -396px -264px;
	--icon-fairyshroom: -429px -264px;
	--icon-fancybuckle: -462px -264px;
	--icon-fatbraisedveg: -495px -264px;
	--icon-featherband: -528px -264px;
	--icon-feather-chicken: -561px -264px;
	--icon-feather: -594px -264px;
	--icon-feathergarland: -627px -264px;
	--icon-feather-magpie: -660px -264px;
	--icon-feather-mallard: -693px -264px;
	--icon-feather-ptarmigan: -726px -264px;
	--icon-feather-quail: -759px -264px;
	--icon-featherstuffing: -792px -264px;
	--icon-feather-swan: -825px -264px;
	--icon-feathertrinket: -858px -264px;
	--icon-feather-woodgrouse: -891px -264px;
	--icon-feldspar: -924px -264px;
	--icon-ferrysilver: -957px -264px;
	--icon-fetterbroken: -990px -264px;
	--icon-fetter: -1023px -264px;
	--icon-finebone: -1056px -264px;
	--icon-finebonering: -1089px -264px;
	--icon-finebonetrinkets: -1122px -264px;
	--icon-finefeatherbrooch: -1155px -264px;
	--icon-finefeather: -1188px -264px;
	--icon-firebrand: -1221px -264px;
	--icon-firefly: 0px -297px;
	--icon-fish-bream: -33px -297px;
	--icon-fish-brill: -66px -297px;
	--icon-fish-chub: -99px -297px;
	--icon-fishermanshat: -132px -297px;
	--icon-fish: -165px -297px;
	--icon-fish-ide: -198px -297px;
	--icon-fishintears: -231px -297px;
	--icon-fish-mullet: -264px -297px;
	--icon-fish-paleghostfish: -297px -297px;
	--icon-fish-perch: -330px -297px;
	--icon-fishpie: -363px -297px;
	--icon-fish-plaice: -396px -297px;
	--icon-fish-pomfret: -429px -297px;
	--icon-fish-roach: -462px -297px;
	--icon-fish-ruffe: -495px -297px;
	--icon-fish-silverbream: -528px -297px;
	--icon-fish-smelt: -561px -297px;
	--icon-fishsticks: -594px -297px;
	--icon-fish-tench: -627px -297px;
	--icon-fish-whiting: -660px -297px;
	--icon-fishwrap: -693px -297px;
	--icon-fishyeyeball: -726px -297px;
	--icon-fish-zope: -759px -297px;
	--icon-flaxfibre: -792px -297px;
	--icon-flaxoil: -825px -297px;
	--icon-flint: -858px -297px;
	--icon-flintsteel: -891px -297px;
	--icon-flipperbone: -924px -297px;
	--icon-flour: -957px -297px;
	--icon-flour-barleyflour: -990px -297px;
	--icon-flour-milletflour: -1023px -297px;
	--icon-flour-wheatflour: -1056px -297px;
	--icon-flourseeds: -1089px -297px;
	--icon-flower: -1122px -297px;
	--icon-flower-poppy: -1155px -297px;
	--icon-fluorospar: -1188px -297px;
	--icon-flute: -1221px -297px;
	--icon-foetus: 0px -330px;
	--icon-food-beer: -33px -330px;
	--icon-food-berries: -66px -330px;
	--icon-food-bread: -99px -330px;
	--icon-food-cheese: -132px -330px;
	--icon-food-creep: -165px -330px;
	--icon-food-dairy: -198px -330px;
	--icon-food-fish: -231px -330px;
	--icon-food-food: -264px -330px;
	--icon-food-forage: -297px -330px;
	--icon-food-fruit: -330px -330px;
	--icon-food-game: -363px -330px;
	--icon-food-meat: -396px -330px;
	--icon-food-nuts: -429px -330px;
	--icon-food-offal: -462px -330px;
	--icon-food-poultry: -495px -330px;
	--icon-food-sausage: -528px -330px;
	--icon-food-shrooms: -561px -330px;
	--icon-food-tea: -594px -330px;
	--icon-food-veg: -627px -330px;
	--icon-food-wine: -660px -330px;
	--icon-foragebrooch: -693px -330px;
	--icon-forestlizard: -726px -330px;
	--icon-forestsnail: -759px -330px;
	--icon-forgering: -792px -330px;
	--icon-foulsmoke: -825px -330px;
	--icon-foxhat: -858px -330px;
	--icon-frog: -891px -330px;
	--icon-froglegs: -924px -330px;
	--icon-fruitpie: -957px -330px;
	--icon-fruitroast: -990px -330px;
	--icon-fruitsorbet: -1023px -330px;
	--icon-fulgurite: -1056px -330px;
	--icon-furboots: -1089px -330px;
	--icon-galena: -1122px -330px;
	--icon-garmentneedle0: -1155px -330px;
	--icon-garmentneedle3: -1188px -330px;
	--icon-gauze: -1221px -330px;
	--icon-gems-any: 0px -363px;
	--icon-gildednautilus: -33px -363px;
	--icon-gildingleaf: -66px -363px;
	--icon-gildingrock: -99px -363px;
	--icon-glassbeads: -132px -363px;
	--icon-glass: -165px -363px;
	--icon-gluethread: -198px -363px;
	--icon-gluetroll: -231px -363px;
	--icon-gneiss: -264px -363px;
	--icon-goathorn: -297px -363px;
	--icon-goldbeaters: -330px -363px;
	--icon-goldegg: -363px -363px;
	--icon-goldencat: -396px -363px;
	--icon-goldeneagletalon: -429px -363px;
	--icon-goldentablebell: -462px -363px;
	--icon-goldentooth: -495px -363px;
	--icon-goldplate: -528px -363px;
	--icon-grandbelt: -561px -363px;
	--icon-granite: -594px -363px;
	--icon-grapes: -627px -363px;
	--icon-grasshopper: -660px -363px;
	--icon-greasedjoints: -693px -363px;
	--icon-greatwaxseal: -726px -363px;
	--icon-greenleafpie: -759px -363px;
	--icon-greenmanmask: -792px -363px;
	--icon-greentunic: -825px -363px;
	--icon-grist: -858px -363px;
	--icon-grist-barleygrist: -891px -363px;
	--icon-grist-wheatgrist: -924px -363px;
	--icon-grub: -957px -363px;
	--icon-grubpie: -990px -363px;
	--icon-gscent: -1023px -363px;
	--icon-guano: -1056px -363px;
	--icon-guardpatch: -1089px -363px;
	--icon-handimpression: -1122px -363px;
	--icon-handimpression-u: -1155px -363px;
	--icon-hanky: -1188px -363px;
	--icon-hardenedleather: -1221px -363px;
	--icon-hardhat: 0px -396px;
	--icon-hardmetalcutlery: -33px -396px;
	--icon-hardmetalrivets: -66px -396px;
	--icon-harmonica: -99px -396px;
	--icon-hartshorn: -132px -396px;
	--icon-hartshornsalve: -165px -396px;
	--icon-hazelnut: -198px -396px;
	--icon-hedgehoghide-blood: -231px -396px;
	--icon-hedgehoghide: -264px -396px;
	--icon-hedgehogquills: -297px -396px;
	--icon-heirloom: -330px -396px;
	--icon-hematite: -363px -396px;
	--icon-hempcloth: -396px -396px;
	--icon-hemp-cured: -429px -396px;
	--icon-hempfibre: -462px -396px;
	--icon-hemp-fresh: -495px -396px;
	--icon-hemppants: -528px -396px;
	--icon-hempshirt: -561px -396px;
	--icon-heraldicape: -594px -396px;
	--icon-herbs-baybolete: -627px -396px;
	--icon-herbs-blacktrumpet: -660px -396px;
	--icon-herbs-bloatedbolete: -693px -396px;
	--icon-herbs-bloodstern: -726px -396px;
	--icon-herbs-blueberry: -759px -396px;
	--icon-herbs-camomile: -792px -396px;
	--icon-herbs-candleberry: -825px -396px;
	--icon-herbs-cattailfibre: -858px -396px;
	--icon-herbs-cattailhead: -891px -396px;
	--icon-herbs-cattailroots: -924px -396px;
	--icon-herbs-cavebulb: -957px -396px;
	--icon-herbs-cavecoral: -990px -396px;
	--icon-herbs-cavelantern: -1023px -396px;
	--icon-herbs-chantrelle: -1056px -396px;
	--icon-herbs-chimingbluebell: -1089px -396px;
	--icon-herbs-chives: -1122px -396px;
	--icon-herbs-clover: -1155px -396px;
	--icon-herbs-commonstarfish: -1188px -396px;
	--icon-herbs-dandelion: -1221px -396px;
	--icon-herbs-dill: 0px -429px;
	--icon-herbs-edelweiss: -33px -429px;
	--icon-herbs-flotsam: -66px -429px;
	--icon-herbs-fourleafclover: -99px -429px;
	--icon-herbs-frogscrown: -132px -429px;
	--icon-herbs-frogspawn: -165px -429px;
	--icon-herbs-giantpuffball: -198px -429px;
	--icon-herbs-glimmermoss: -231px -429px;
	--icon-herbs-goosebarnacle: -264px -429px;
	--icon-herbs-greenkelp: -297px -429px;
	--icon-herbs-kvann: -330px -429px;
	--icon-herbs-ladysmantledew: -363px -429px;
	--icon-herbs-ladysmantle: -396px -429px;
	--icon-herbs-lampstalk: -429px -429px;
	--icon-herbs-lingon: -462px -429px;
	--icon-herbs-lorchel: -495px -429px;
	--icon-herbs-mandrake: -528px -429px;
	--icon-herbs-mistletoe: -561px -429px;
	--icon-herbs-mussels: -594px -429px;
	--icon-herbs-parasolshroom: -627px -429px;
	--icon-herbs-royaltoadstool: -660px -429px;
	--icon-herbs-rustroot: -693px -429px;
	--icon-herbs-seashell: -726px -429px;
	--icon-herbs-spindlytaproot: -759px -429px;
	--icon-herbs-stalagoom: -792px -429px;
	--icon-herbs-stingingnettle: -825px -429px;
	--icon-herbs-strawberry: -858px -429px;
	--icon-herbs-vrakgods: -891px -429px;
	--icon-herbs-waybroad: -924px -429px;
	--icon-herbs-windweed: -957px -429px;
	--icon-herbs-yarrow: -990px -429px;
	--icon-herbs-yellowfoot: -1023px -429px;
	--icon-herminecape: -1056px -429px;
	--icon-hide: -1089px -429px;
	--icon-hidelayer: -1122px -429px;
	--icon-hidestrap: -1155px -429px;
	--icon-hirdhelmet: -1188px -429px;
	--icon-hirdsmanscape: -1221px -429px;
	--icon-honeybear: 0px -462px;
	--icon-honeybroadaid: -33px -462px;
	--icon-honeybun: -66px -462px;
	--icon-honey: -99px -462px;
	--icon-hook-bone: -132px -462px;
	--icon-hook-gold: -165px -462px;
	--icon-hook-metal: -198px -462px;
	--icon-hopcones: -231px -462px;
	--icon-hopcones-l: -264px -462px;
	--icon-hoppedcow: -297px -462px;
	--icon-hornblende: -330px -462px;
	--icon-hornsilver: -363px -462px;
	--icon-horribleknot: -396px -462px;
	--icon-hotwings: -429px -462px;
	--icon-hpatch-aurochs: -462px -462px;
	--icon-hpatch-badger: -495px -462px;
	--icon-hpatch-bear: -528px -462px;
	--icon-hpatch-boar: -561px -462px;
	--icon-hpatch-cow: -594px -462px;
	--icon-hpatch-fox: -627px -462px;
	--icon-hpatch-greyseal: -660px -462px;
	--icon-hpatch-horse: -693px -462px;
	--icon-hpatch-lynx: -726px -462px;
	--icon-hpatch-mammoth: -759px -462px;
	--icon-hpatch-moose: -792px -462px;
	--icon-hpatch-mouflon: -825px -462px;
	--icon-hpatch-pig: -858px -462px;
	--icon-hpatch-reddeer: -891px -462px;
	--icon-hpatch-sheep: -924px -462px;
	--icon-hpatch-wildhorse: -957px -462px;
	--icon-huntersbelt: -990px -462px;
	--icon-huntersshirt: -1023px -462px;
	--icon-ilmenite: -1056px -462px;
	--icon-intestines: -1089px -462px;
	--icon-intestines-m: -1122px -462px;
	--icon-irrbloss: -1155px -462px;
	--icon-itsybitsyspider: -1188px -462px;
	--icon-itsybitsysweb: -1221px -462px;
	--icon-ivoryfigurine: 0px -495px;
	--icon-jar: -33px -495px;
	--icon-jar-rustjuice: -66px -495px;
	--icon-jar-u: -99px -495px;
	--icon-jewhat: -132px -495px;
	--icon-jotunmorsel: -165px -495px;
	--icon-kelpcream: -198px -495px;
	--icon-kuksa: -231px -495px;
	--icon-kyanite: -264px -495px;
	--icon-ladybug: -297px -495px;
	--icon-lantern: -330px -495px;
	--icon-laurelwreath: -363px -495px;
	--icon-lawhat: -396px -495px;
	--icon-leaf-conkertree: -429px -495px;
	--icon-leaf-heartwood: -462px -495px;
	--icon-leaf-laurel: -495px -495px;
	--icon-leaf: -528px -495px;
	--icon-leaf-maple: -561px -495px;
	--icon-leaf-mulberrytree: -594px -495px;
	--icon-leatherball: -627px -495px;
	--icon-leatherboots: -660px -495px;
	--icon-leathercoaster: -693px -495px;
	--icon-leatherfabric: -726px -495px;
	--icon-leather: -759px -495px;
	--icon-leatherpatch: -792px -495px;
	--icon-leatherpurse: -825px -495px;
	--icon-leechbloat: -858px -495px;
	--icon-leech: -891px -495px;
	--icon-leprechaunshat: -924px -495px;
	--icon-lettuceleaf: -957px -495px;
	--icon-limestone: -990px -495px;
	--icon-limonite: -1023px -495px;
	--icon-linencloth: -1056px -495px;
	--icon-linennapkin: -1089px -495px;
	--icon-linenpants: -1122px -495px;
	--icon-linenshirt: -1155px -495px;
	--icon-linkhat: -1188px -495px;
	--icon-linseedloaf: -1221px -495px;
	--icon-liveronions: 0px -528px;
	--icon-lizardonscales: -33px -528px;
	--icon-lorcheldried: -66px -528px;
	--icon-lorchelwet: -99px -528px;
	--icon-lotusbloom: -132px -528px;
	--icon-luckyrabbits-dry: -165px -528px;
	--icon-luckyrabbits: -198px -528px;
	--icon-lure-copperbrushsnapper: -231px -528px;
	--icon-lure-coppercomet: -264px -528px;
	--icon-lure-featherfly: -297px -528px;
	--icon-lure-goldspoon: -330px -528px;
	--icon-lure-pineconeplug: -363px -528px;
	--icon-lure-poppywobbler: -396px -528px;
	--icon-lure-rocklobster: -429px -528px;
	--icon-lure-steelbrush: -462px -528px;
	--icon-lure-tinfly: -495px -528px;
	--icon-lure-woodfish: -528px -528px;
	--icon-lynxclaws: -561px -528px;
	--icon-magnetite: -594px -528px;
	--icon-magnifyingglass: -627px -528px;
	--icon-magpieclaw: -660px -528px;
	--icon-magpie-cleaned: -693px -528px;
	--icon-magpie-dead: -726px -528px;
	--icon-magpie-plucked: -759px -528px;
	--icon-malachite: -792px -528px;
	--icon-mallard-cleaned: -825px -528px;
	--icon-malt: -858px -528px;
	--icon-marble: -891px -528px;
	--icon-marbles: -924px -528px;
	--icon-marrowroast: -957px -528px;
	--icon-matchbox: -990px -528px;
	--icon-meatpie: -1023px -528px;
	--icon-meat: -1056px -528px;
	--icon-meat-crust: -1089px -528px;
	--icon-meat-filet: -1122px -528px;
	--icon-meatinjelly: -1155px -528px;
	--icon-meat-poultry: -1188px -528px;
	--icon-meat-raw: -1221px -528px;
	--icon-meat-rfilet: 0px -561px;
	--icon-meat-roast: -33px -561px;
	--icon-meat-rpoultry: -66px -561px;
	--icon-meat-rweird: -99px -561px;
	--icon-meat-spoultry: -132px -561px;
	--icon-meat-sweird: -165px -561px;
	--icon-meat-spitroast: -198px -561px;
	--icon-meat-sfilet: -231px -561px;
	--icon-meat-testis: -264px -561px;
	--icon-meat-testis-r: -297px -561px;
	--icon-meat-weird: -330px -561px;
	--icon-meat-abyssgazer: -363px -561px;
	--icon-meat-adder: -396px -561px;
	--icon-meat-ant: -429px -561px;
	--icon-meat-asp: -462px -561px;
	--icon-meat-aurochs: -495px -561px;
	--icon-meat-badger: -528px -561px;
	--icon-meat-bass: -561px -561px;
	--icon-meat-bat: -594px -561px;
	--icon-meat-bear: -627px -561px;
	--icon-meat-beaver: -660px -561px;
	--icon-meat-beef: -693px -561px;
	--icon-meat-boar: -726px -561px;
	--icon-meat-boreworm: -759px -561px;
	--icon-meat-bream: -792px -561px;
	--icon-meat-brill: -825px -561px;
	--icon-meat-burbot: -858px -561px;
	--icon-meat-carp: -891px -561px;
	--icon-meat-catfish: -924px -561px;
	--icon-meat-caveangler: -957px -561px;
	--icon-meat-cavelacanth: -990px -561px;
	--icon-meat-cavesculpin: -1023px -561px;
	--icon-meat-cavelouse: -1056px -561px;
	--icon-meat-chasmconch: -1089px -561px;
	--icon-meat-chicken: -1122px -561px;
	--icon-meat-chub: -1155px -561px;
	--icon-meat-cod: -1188px -561px;
	--icon-meat-cow: -1221px -561px;
	--icon-meat-crab: 0px -594px;
	--icon-meat-eagleowl: -33px -594px;
	--icon-meat-eel: -66px -594px;
	--icon-meat-fox: -99px -594px;
	--icon-meat-goat: -132px -594px;
	--icon-meat-goldeneagle: -165px -594px;
	--icon-meat-grayling: -198px -594px;
	--icon-meat-greyseal: -231px -594px;
	--icon-meat-haddock: -264px -594px;
	--icon-meat-hedgehog: -297px -594px;
	--icon-meat-herring: -330px -594px;
	--icon-meat-horse: -363px -594px;
	--icon-meat-ide: -396px -594px;
	--icon-meat-lavaret: -429px -594px;
	--icon-meat-lynx: -462px -594px;
	--icon-meat-mackerel: -495px -594px;
	--icon-meat-magpie: -528px -594px;
	--icon-meat-mallard: -561px -594px;
	--icon-meat-mammoth: -594px -594px;
	--icon-meat-mole: -627px -594px;
	--icon-meat-moose: -660px -594px;
	--icon-meat-mouflon: -693px -594px;
	--icon-meat-mullet: -726px -594px;
	--icon-meat-mutton: -759px -594px;
	--icon-meat-otter: -792px -594px;
	--icon-meat-paleghostfish: -825px -594px;
	--icon-meat-perch: -858px -594px;
	--icon-meat-pig: -891px -594px;
	--icon-meat-pike: -924px -594px;
	--icon-meat-plaice: -957px -594px;
	--icon-meat-pomfret: -990px -594px;
	--icon-meat-pork: -1023px -594px;
	--icon-meat-ptarmigan: -1056px -594px;
	--icon-meat-quail: -1089px -594px;
	--icon-meat-rabbit: -1122px -594px;
	--icon-meat-reddeer: -1155px -594px;
	--icon-meat-reindeer: -1188px -594px;
	--icon-meat-roach: -1221px -594px;
	--icon-meat-rosefish: 0px -627px;
	--icon-meat-ruffe: -33px -627px;
	--icon-meat-saithe: -66px -627px;
	--icon-meat-salmon: -99px -627px;
	--icon-meat-seagull: -132px -627px;
	--icon-meat-sheep: -165px -627px;
	--icon-meat-silverbream: -198px -627px;
	--icon-meat-smelt: -231px -627px;
	--icon-meat-squirrel: -264px -627px;
	--icon-meat-sturgeon: -297px -627px;
	--icon-meat-swan: -330px -627px;
	--icon-meat-tench: -363px -627px;
	--icon-meat-troll: -396px -627px;
	--icon-meat-trout: -429px -627px;
	--icon-meat-walrus: -462px -627px;
	--icon-meat-whiting: -495px -627px;
	--icon-meat-wildgoat: -528px -627px;
	--icon-meat-wildhorse: -561px -627px;
	--icon-meat-wolf: -594px -627px;
	--icon-meat-wolverine: -627px -627px;
	--icon-meat-woodgrouse: -660px -627px;
	--icon-meat-zander: -693px -627px;
	--icon-meat-zope: -726px -627px;
	--icon-medlar: -759px -627px;
	--icon-medlarseed: -792px -627px;
	--icon-merchantspants: -825px -627px;
	--icon-merchantsring: -858px -627px;
	--icon-mercury: -891px -627px;
	--icon-metalbuttons: -924px -627px;
	--icon-metalmug-full: -957px -627px;
	--icon-metalmug: -990px -627px;
	--icon-metalplate: -1023px -627px;
	--icon-metalsaucier: -1056px -627px;
	--icon-milk: -1089px -627px;
	--icon-minershelm-c: -1122px -627px;
	--icon-minershelm: -1155px -627px;
	--icon-mirkwoodoffering: -1188px -627px;
	--icon-mole-carcass: -1221px -627px;
	--icon-mole-clean: 0px -660px;
	--icon-mole-dead: -33px -660px;
	--icon-molehide-blood: -66px -660px;
	--icon-molehide: -99px -660px;
	--icon-molehidepants: -132px -660px;
	--icon-molehill: -165px -660px;
	--icon-molepaw: -198px -660px;
	--icon-monarchbutterfly: -231px -660px;
	--icon-monocle: -264px -660px;
	--icon-mooseantlerbuttons: -297px -660px;
	--icon-motherofpearl: -330px -660px;
	--icon-mudointment: -363px -660px;
	--icon-mug-full: -396px -660px;
	--icon-mug: -429px -660px;
	--icon-mug-u: -462px -660px;
	--icon-mulberry: -495px -660px;
	--icon-mulch: -528px -660px;
	--icon-mushroommash: -561px -660px;
	--icon-musselsboiled: -594px -660px;
	--icon-nagyagite: -627px -660px;
	--icon-nettlepants: -660px -660px;
	--icon-nettleshirt: -693px -660px;
	--icon-newsboyscap: -726px -660px;
	--icon-ninetails: -759px -660px;
	--icon-nugget-bronze: -792px -660px;
	--icon-nugget-castiron: -825px -660px;
	--icon-nugget-copper: -858px -660px;
	--icon-nugget-gold: -891px -660px;
	--icon-nugget-hardmetal: -924px -660px;
	--icon-nugget-metal: -957px -660px;
	--icon-nugget-preciousmetal: -990px -660px;
	--icon-nugget-rosegold: -1023px -660px;
	--icon-nugget-silver: -1056px -660px;
	--icon-nugget-steel: -1089px -660px;
	--icon-nugget-tin: -1122px -660px;
	--icon-nugget-toolmetal: -1155px -660px;
	--icon-nugget-wroughtiron: -1188px -660px;
	--icon-nugget-metiron: -1221px -660px;
	--icon-nutjerky: 0px -693px;
	--icon-nut: -33px -693px;
	--icon-oakapple: -66px -693px;
	--icon-oakspire: -99px -693px;
	--icon-occultring: -132px -693px;
	--icon-oddhoneycomb: -165px -693px;
	--icon-oddtuber: -198px -693px;
	--icon-oldboot-l: -231px -693px;
	--icon-oldboot-r: -264px -693px;
	--icon-oldboots: -297px -693px;
	--icon-olive: -330px -693px;
	--icon-olivine: -363px -693px;
	--icon-omelette: -396px -693px;
	--icon-onionedescargot: -429px -693px;
	--icon-onion: -462px -693px;
	--icon-onionrings: -495px -693px;
	--icon-onionsalad: -528px -693px;
	--icon-onionskewer: -561px -693px;
	--icon-opium: -594px -693px;
	--icon-ore-iron: -627px -693px;
	--icon-ouroboros: -660px -693px;
	--icon-pancake-citrouille: -693px -693px;
	--icon-pancake-noisette: -726px -693px;
	--icon-pancake: -759px -693px;
	--icon-pancake-pommace: -792px -693px;
	--icon-pancake-sacrebleu: -825px -693px;
	--icon-parchment: -858px -693px;
	--icon-patternbroid: -891px -693px;
	--icon-peapie: -924px -693px;
	--icon-peapod: -957px -693px;
	--icon-pearlnecklace: -990px -693px;
	--icon-pear: -1023px -693px;
	--icon-pebble-gold: -1056px -693px;
	--icon-pepper: -1089px -693px;
	--icon-peppercorn: -1122px -693px;
	--icon-pepperdrupeboiled: -1155px -693px;
	--icon-pepperdrupedried: -1188px -693px;
	--icon-peppermill: -1221px -693px;
	--icon-peppershaker: 0px -726px;
	--icon-perchedperch: -33px -726px;
	--icon-perfecthole: -66px -726px;
	--icon-persimmon: -99px -726px;
	--icon-petraglyph: -132px -726px;
	--icon-petrifiedshell: -165px -726px;
	--icon-petzite: -198px -726px;
	--icon-pipe-clay: -231px -726px;
	--icon-pipe-clay-u: -264px -726px;
	--icon-pirozhki: -297px -726px;
	--icon-plantfibre: -330px -726px;
	--icon-plateboots: -363px -726px;
	--icon-plategauntlets: -396px -726px;
	--icon-platehelmet: -429px -726px;
	--icon-plumbbob: -462px -726px;
	--icon-plum: -495px -726px;
	--icon-plushbat: -528px -726px;
	--icon-poachedwolverine: -561px -726px;
	--icon-polishedbeads: -594px -726px;
	--icon-poormansbelt: -627px -726px;
	--icon-poormansgloves: -660px -726px;
	--icon-poppycapss: -693px -726px;
	--icon-poppygarland: -726px -726px;
	--icon-poppygrist: -759px -726px;
	--icon-poppypodd: -792px -726px;
	--icon-poppypod: -825px -726px;
	--icon-porcelainplate: -858px -726px;
	--icon-porcelainplate-u: -891px -726px;
	--icon-porphyry: -924px -726px;
	--icon-porridge: -957px -726px;
	--icon-poultry: -990px -726px;
	--icon-preciousdetails: -1023px -726px;
	--icon-prephide: -1056px -726px;
	--icon-prism: -1089px -726px;
	--icon-ptarmigan-cleaned: -1122px -726px;
	--icon-ptarmigan-dead: -1155px -726px;
	--icon-ptarmigan-plucked: -1188px -726px;
	--icon-ptarmigan: -1221px -726px;
	--icon-pumpkinbread: 0px -759px;
	--icon-pumpkinflesh: -33px -759px;
	--icon-pumpkinpie: -66px -759px;
	--icon-pyritespark: -99px -759px;
	--icon-quail-cleaned: -132px -759px;
	--icon-quail-dead: -165px -759px;
	--icon-quail-plucked: -198px -759px;
	--icon-quail: -231px -759px;
	--icon-quartz: -264px -759px;
	--icon-quincecore: -297px -759px;
	--icon-quince: -330px -759px;
	--icon-rabbitfood: -363px -759px;
	--icon-rabbithide-blood: -396px -759px;
	--icon-rabbithide: -429px -759px;
	--icon-raiderscap: -462px -759px;
	--icon-rainbowshellamulet: -495px -759px;
	--icon-raisinbuttercake: -528px -759px;
	--icon-raisins: -561px -759px;
	--icon-rangersboots: -594px -759px;
	--icon-rangerspants: -627px -759px;
	--icon-rangersshirt: -660px -759px;
	--icon-rat: -693px -759px;
	--icon-ratstick: -726px -759px;
	--icon-rawmeats: -759px -759px;
	--icon-redonion: -792px -759px;
	--icon-redshredsalad: -825px -759px;
	--icon-reinforcedhem: -858px -759px;
	--icon-rennet: -891px -759px;
	--icon-ringofbrodgar: -924px -759px;
	--icon-riverpearl: -957px -759px;
	--icon-oysterpearl: -990px -759px;
	--icon-roachwrap: -1023px -759px;
	--icon-roasthopper: -1056px -759px;
	--icon-robring: -1089px -759px;
	--icon-robsea: -1122px -759px;
	--icon-rockcrystal: -1155px -759px;
	--icon-rootfill: -1188px -759px;
	--icon-rowanberry: -1221px -759px;
	--icon-royalant: 0px -792px;
	--icon-royalcrown: -33px -792px;
	--icon-salad: -66px -792px;
	--icon-saltcrystal: -99px -792px;
	--icon-sand: -132px -792px;
	--icon-sandstone: -165px -792px;
	--icon-scentgland: -198px -792px;
	--icon-schist: -231px -792px;
	--icon-scones: -264px -792px;
	--icon-sealburger: -297px -792px;
	--icon-sealskinpants: -330px -792px;
	--icon-seed-alder: -363px -792px;
	--icon-seed-arrowwood: -396px -792px;
	--icon-seed-ash: -429px -792px;
	--icon-seed-aspen: -462px -792px;
	--icon-seed-barley: -495px -792px;
	--icon-seed-barleygerm: -528px -792px;
	--icon-seed-barleymalt: -561px -792px;
	--icon-seed-baywillow: -594px -792px;
	--icon-seed-beech: -627px -792px;
	--icon-seed-birch: -660px -792px;
	--icon-seed-blackberrybush: -693px -792px;
	--icon-seed-blackcurrant: -726px -792px;
	--icon-seed-blackthorn: -759px -792px;
	--icon-seed-bogmyrtle: -792px -792px;
	--icon-seed-boxwood: -825px -792px;
	--icon-seed-bsnightshade: -858px -792px;
	--icon-seed-buckthorn: -891px -792px;
	--icon-seed-caprifole: -924px -792px;
	--icon-seed-carrot: -957px -792px;
	--icon-seed-cedar: -990px -792px;
	--icon-seed-cherry: -1023px -792px;
	--icon-seed-conkertree: -1056px -792px;
	--icon-seed-crabappletree: -1089px -792px;
	--icon-seed-crampbark: -1122px -792px;
	--icon-seed-cucumber: -1155px -792px;
	--icon-seed-cypress: -1188px -792px;
	--icon-seed-dogrose: -1221px -792px;
	--icon-seed-elderberrybush: 0px -825px;
	--icon-seed-elm: -33px -825px;
	--icon-seed-fir: -66px -825px;
	--icon-seed-flax: -99px -825px;
	--icon-seed-goldenchain: -132px -825px;
	--icon-seed-gooseberrybush: -165px -825px;
	--icon-seed-gorse: -198px -825px;
	--icon-seed-grape: -231px -825px;
	--icon-seed-hawthorn: -264px -825px;
	--icon-seed-hemp: -297px -825px;
	--icon-seed-holly: -330px -825px;
	--icon-seed-hornbeam: -363px -825px;
	--icon-seed-juniper: -396px -825px;
	--icon-seed-kingsoak: -429px -825px;
	--icon-seed-larch: -462px -825px;
	--icon-seed-laurel: -495px -825px;
	--icon-seed-lettuce: -528px -825px;
	--icon-seed-linden: -561px -825px;
	--icon-seed-maple: -594px -825px;
	--icon-seed-oak: -627px -825px;
	--icon-seed-olive: -660px -825px;
	--icon-seed-pear: -693px -825px;
	--icon-seed-pine: -726px -825px;
	--icon-seed-pipeweed: -759px -825px;
	--icon-seed-planetree: -792px -825px;
	--icon-seed-plum: -825px -825px;
	--icon-seed-poplar: -858px -825px;
	--icon-seed-poppy: -891px -825px;
	--icon-seed-pumpkin: -924px -825px;
	--icon-seed-raspberrybush: -957px -825px;
	--icon-seed-redcurrant: -990px -825px;
	--icon-seed-sallow: -1023px -825px;
	--icon-seed-sandthorn: -1056px -825px;
	--icon-seed-spindlebush: -1089px -825px;
	--icon-seed-spruce: -1122px -825px;
	--icon-seed-sweetgum: -1155px -825px;
	--icon-seed-teabush: -1188px -825px;
	--icon-seed-terebinth: -1221px -825px;
	--icon-seed-tibast: 0px -858px;
	--icon-seed-towercap: -33px -858px;
	--icon-seed-treeheath: -66px -858px;
	--icon-seed-tundrarose: -99px -858px;
	--icon-seed-wheatgerm: -132px -858px;
	--icon-seed-wheatmalt: -165px -858px;
	--icon-seed-wheat: -198px -858px;
	--icon-seed-willow: -231px -858px;
	--icon-seed-witherstand: -264px -858px;
	--icon-seed-woodbine: -297px -858px;
	--icon-seed-yew: -330px -858px;
	--icon-seersbowl: -363px -858px;
	--icon-seersspindle: -396px -858px;
	--icon-seersstones: -429px -858px;
	--icon-seerstea: -462px -858px;
	--icon-sfat: -495px -858px;
	--icon-sherlockhat: -528px -858px;
	--icon-shipwreckbuttons: -561px -858px;
	--icon-shroom: -594px -858px;
	--icon-silkcloth: -627px -858px;
	--icon-silkcocoon: -660px -858px;
	--icon-silkegg: -693px -858px;
	--icon-silkenribbon: -726px -858px;
	--icon-silkfilament: -759px -858px;
	--icon-silkmoth-f: -792px -858px;
	--icon-silkmoth-m: -825px -858px;
	--icon-silknapkin: -858px -858px;
	--icon-silkspunseam: -891px -858px;
	--icon-silkthread: -924px -858px;
	--icon-silkworm: -957px -858px;
	--icon-silvercutlery: -990px -858px;
	--icon-silverrivercutlery: -1023px -858px;
	--icon-silverrivergoblet: -1056px -858px;
	--icon-silverrose: -1089px -858px;
	--icon-skullcup: -1122px -858px;
	--icon-skull: -1155px -858px;
	--icon-skull-u: -1188px -858px;
	--icon-skullz: -1221px -858px;
	--icon-slag: 0px -891px;
	--icon-sling: -33px -891px;
	--icon-slinky: -66px -891px;
	--icon-small-antlers-moose: -99px -891px;
	--icon-small-ashenrobe: -132px -891px;
	--icon-small-b12axe: -165px -891px;
	--icon-small-backpack-birch: -198px -891px;
	--icon-small-backpack-leather: -231px -891px;
	--icon-small-badgerhide: -264px -891px;
	--icon-small-badgervest: -297px -891px;
	--icon-small-bagpipe: -330px -891px;
	--icon-small-battlestandard: -363px -891px;
	--icon-small-bear: -396px -891px;
	--icon-small-bearcape: -429px -891px;
	--icon-small-bearcoat: -462px -891px;
	--icon-small-bearhide: -495px -891px;
	--icon-small-beaverhide: -528px -891px;
	--icon-small-bladderwrack: -561px -891px;
	--icon-small-boar: -594px -891px;
	--icon-small-board: -627px -891px;
	--icon-small-boarhide: -660px -891px;
	--icon-small-boarspear: -693px -891px;
	--icon-small-bonesaw: -726px -891px;
	--icon-small-bough-spruce: -759px -891px;
	--icon-small-bronzeplate: -792px -891px;
	--icon-small-bronzesword: -825px -891px;
	--icon-small-bucket: -858px -891px;
	--icon-small-bucket-barley: -891px -891px;
	--icon-small-bucket-barleyflour: -924px -891px;
	--icon-small-bucket-beer: -957px -891px;
	--icon-small-bucket-carrot: -990px -891px;
	--icon-small-bucket-cucumber: -1023px -891px;
	--icon-small-bucket-flax: -1056px -891px;
	--icon-small-bucket-flaxoil: -1089px -891px;
	--icon-small-bucket-grape: -1122px -891px;
	--icon-small-bucket-grapejuice: -1155px -891px;
	--icon-small-bucket-grist: -1188px -891px;
	--icon-small-bucket-hemp: -1221px -891px;
	--icon-small-bucket-honey: 0px -924px;
	--icon-small-bucket-milk: -33px -924px;
	--icon-small-bucket-millet: -66px -924px;
	--icon-small-bucket-milletflour: -99px -924px;
	--icon-small-bucket-pipeweed: -132px -924px;
	--icon-small-bucket-poppy: -165px -924px;
	--icon-small-bucket-pumpkin: -198px -924px;
	--icon-small-bucket-rennet: -231px -924px;
	--icon-small-bucket-swill: -264px -924px;
	--icon-small-bucket-tanfluid: -297px -924px;
	--icon-small-bucket-tar: -330px -924px;
	--icon-small-bucket-tea: -363px -924px;
	--icon-small-bucket-vinegar: -396px -924px;
	--icon-small-bucket-water: -429px -924px;
	--icon-small-bucket-wheatflour: -462px -924px;
	--icon-small-bucket-wine: -495px -924px;
	--icon-small-bucket-wort: -528px -924px;
	--icon-small-bumling: -561px -924px;
	--icon-small-bush: -594px -924px;
	--icon-small-bushpole: -627px -924px;
	--icon-small-bushpole-h: -660px -924px;
	--icon-small-bushpole-l: -693px -924px;
	--icon-small-carpet: -726px -924px;
	--icon-small-chainmailshirt: -759px -924px;
	--icon-small-cheesetray: -792px -924px;
	--icon-small-cornucopia: -825px -924px;
	--icon-small-cowhide: -858px -924px;
	--icon-small-crab: -891px -924px;
	--icon-small-creamycock: -924px -924px;
	--icon-small-cucumber: -957px -924px;
	--icon-small-cutthroatcuirass: -990px -924px;
	--icon-small-darkeffigy: -1023px -924px;
	--icon-small-dcloak: -1056px -924px;
	--icon-small-drum: -1089px -924px;
	--icon-small-enthronedtoad: -1122px -924px;
	--icon-small-featherduster: -1155px -924px;
	--icon-small-fiddle: -1188px -924px;
	--icon-small-fish-asp: -1221px -924px;
	--icon-small-fish-burbot: 0px -957px;
	--icon-small-fish-carp: -33px -957px;
	--icon-small-fish-catfish: -66px -957px;
	--icon-small-fish-eel: -99px -957px;
	--icon-small-fish-grayling: -132px -957px;
	--icon-small-fish-lavaret: -165px -957px;
	--icon-small-fish-pike: -198px -957px;
	--icon-small-fish-salmon: -231px -957px;
	--icon-small-fish-sturgeon: -264px -957px;
	--icon-small-fish-trout: -297px -957px;
	--icon-small-fish-zander: -330px -957px;
	--icon-small-fossilcollection: -363px -957px;
	--icon-small-foxhide: -396px -957px;
	--icon-small-fryingpan: -429px -957px;
	--icon-small-furcloak: -462px -957px;
	--icon-small-fyrdsword: -495px -957px;
	--icon-small-gardenpot: -528px -957px;
	--icon-small-gift-yule: -561px -957px;
	--icon-small-goatmask: -594px -957px;
	--icon-small-grandharuspex: -627px -957px;
	--icon-small-greysealhide: -660px -957px;
	--icon-small-heartcontainer: -693px -957px;
	--icon-small-hemptablecloth: -726px -957px;
	--icon-small-herminecloak: -759px -957px;
	--icon-small-hidecloak: -792px -957px;
	--icon-small-hirdsword: -825px -957px;
	--icon-small-horsehide: -858px -957px;
	--icon-small-huntersbow: -891px -957px;
	--icon-small-huntersquiver-e: -924px -957px;
	--icon-small-huntersquiver: -957px -957px;
	--icon-small-hussarwings: -990px -957px;
	--icon-small-jackomask: -1023px -957px;
	--icon-small-kozhukh: -1056px -957px;
	--icon-small-lawrobe: -1089px -957px;
	--icon-small-leatherarmor: -1122px -957px;
	--icon-small-leathercoat: -1155px -957px;
	--icon-small-leatherpants: -1188px -957px;
	--icon-small-leathertablecloth: -1221px -957px;
	--icon-small-leek: 0px -990px;
	--icon-small-lettucehead: -33px -990px;
	--icon-small-linentablecloth: -66px -990px;
	--icon-small-log: -99px -990px;
	--icon-small-lute: -132px -990px;
	--icon-small-lynxcape: -165px -990px;
	--icon-small-lynxhide: -198px -990px;
	--icon-small-mammothhide: -231px -990px;
	--icon-small-mammothtusk: -264px -990px;
	--icon-small-merchantsrobe: -297px -990px;
	--icon-small-moosehidejacket: -330px -990px;
	--icon-small-moosehide: -363px -990px;
	--icon-small-moose: -396px -990px;
	--icon-small-mouflonhide: -429px -990px;
	--icon-small-onionbraid: -462px -990px;
	--icon-small-otterhide: -495px -990px;
	--icon-small-packrack: -528px -990px;
	--icon-small-painting: -561px -990px;
	--icon-small-pickaxe: -594px -990px;
	--icon-small-pickingbasket-f: -627px -990px;
	--icon-small-pickingbasket: -660px -990px;
	--icon-small-plategreaves: -693px -990px;
	--icon-small-platemail: -726px -990px;
	--icon-small-poormansbelt: -759px -990px;
	--icon-small-pot: -792px -990px;
	--icon-small-primitivedoll: -825px -990px;
	--icon-small-primrod-h: -858px -990px;
	--icon-small-primrod-l: -891px -990px;
	--icon-small-primrod: -924px -990px;
	--icon-small-protestsign: -957px -990px;
	--icon-small-pumpkin: -990px -990px;
	--icon-small-rangerscape: -1023px -990px;
	--icon-small-rattletattle: -1056px -990px;
	--icon-small-reddeerhide: -1089px -990px;
	--icon-small-reddeer: -1122px -990px;
	--icon-small-redgown: -1155px -990px;
	--icon-small-reindeercape: -1188px -990px;
	--icon-small-reindeerhide: -1221px -990px;
	--icon-small-roastspit: 0px -1023px;
	--icon-small-rooster-dead: -33px -1023px;
	--icon-small-rope: -66px -1023px;
	--icon-small-roundshield: -99px -1023px;
	--icon-small-saddlebags: -132px -1023px;
	--icon-small-sandcastle: -165px -1023px;
	--icon-small-saw-m: -198px -1023px;
	--icon-small-scythe: -231px -1023px;
	--icon-small-seersbones: -264px -1023px;
	--icon-small-sheepskin: -297px -1023px;
	--icon-small-shovel-m: -330px -1023px;
	--icon-small-shovel-w: -363px -1023px;
	--icon-small-silktablecloth: -396px -1023px;
	--icon-small-sledgehammer: -429px -1023px;
	--icon-small-snapdragon: -462px -1023px;
	--icon-small-strawdoll: -495px -1023px;
	--icon-small-tabardplain: -528px -1023px;
	--icon-small-tangledbramble: -561px -1023px;
	--icon-small-thornythistle: -594px -1023px;
	--icon-small-tobacco-cured: -627px -1023px;
	--icon-small-tobacco-fresh: -660px -1023px;
	--icon-small-toga: -693px -1023px;
	--icon-small-travellerssack: -726px -1023px;
	--icon-small-treepot-u: -759px -1023px;
	--icon-small-trollbone: -792px -1023px;
	--icon-small-trollears: -825px -1023px;
	--icon-small-trollhelm: -858px -1023px;
	--icon-small-trollhide: -891px -1023px;
	--icon-small-trollskull: -924px -1023px;
	--icon-small-urn: -957px -1023px;
	--icon-small-vapntreyiu: -990px -1023px;
	--icon-small-volvawand: -1023px -1023px;
	--icon-small-wallshelf: -1056px -1023px;
	--icon-small-walruscape: -1089px -1023px;
	--icon-small-walrushide: -1122px -1023px;
	--icon-small-walrustusk: -1155px -1023px;
	--icon-small-wanderersbindle: -1188px -1023px;
	--icon-small-waterskin: -1221px -1023px;
	--icon-small-wblock: 0px -1056px;
	--icon-small-wblock-mirkwood: -33px -1056px;
	--icon-small-wblock-oak: -66px -1056px;
	--icon-small-wblock-spruce: -99px -1056px;
	--icon-small-wildgoathide: -132px -1056px;
	--icon-small-wildhorsehide: -165px -1056px;
	--icon-small-wolverinehide: -198px -1056px;
	--icon-small-wolverine: -231px -1056px;
	--icon-small-woodcrown: -264px -1056px;
	--icon-small-woodsmansaxe: -297px -1056px;
	--icon-small-wooltablecloth: -330px -1056px;
	--icon-smithsbauble: -363px -1056px;
	--icon-smithshammer: -396px -1056px;
	--icon-snakeskinbelt: -429px -1056px;
	--icon-snakeskinboots: -462px -1056px;
	--icon-snakeskinstripes: -495px -1056px;
	--icon-snowball: -528px -1056px;
	--icon-snowglobe: -561px -1056px;
	--icon-snow: -594px -1056px;
	--icon-soapbar: -627px -1056px;
	--icon-soapbubble: -660px -1056px;
	--icon-softmetalcutlery: -693px -1056px;
	--icon-soil: -726px -1056px;
	--icon-sombrero: -759px -1056px;
	--icon-sorbapplecore: -792px -1056px;
	--icon-sorbapple: -825px -1056px;
	--icon-spectacles: -858px -1056px;
	--icon-spices: -891px -1056px;
	--icon-spicysalad: -924px -1056px;
	--icon-springstew: -957px -1056px;
	--icon-springwater: -990px -1056px;
	--icon-sprucecap: -1023px -1056px;
	--icon-squirrel-carcass: -1056px -1056px;
	--icon-squirrel-clean: -1089px -1056px;
	--icon-squirrelhide-blood: -1122px -1056px;
	--icon-squirrelhide: -1155px -1056px;
	--icon-squirreltail-blood: -1188px -1056px;
	--icon-squirreltail: -1221px -1056px;
	--icon-stagbeetle: 0px -1089px;
	--icon-stainedglassheart: -33px -1089px;
	--icon-stalagoomba: -66px -1089px;
	--icon-steaktuber: -99px -1089px;
	--icon-stillife: -132px -1089px;
	--icon-stingingpoultice: -165px -1089px;
	--icon-stingingsalad: -198px -1089px;
	--icon-stitchpatch: -231px -1089px;
	--icon-stoneaxe: -264px -1089px;
	--icon-stonewarevase: -297px -1089px;
	--icon-stonewarevase-u: -330px -1089px;
	--icon-strangecrystal: -363px -1089px;
	--icon-strangeroot: -396px -1089px;
	--icon-strawhat: -429px -1089px;
	--icon-straw: -462px -1089px;
	--icon-strawstring: -495px -1089px;
	--icon-string: -528px -1089px;
	--icon-suckmaw: -561px -1089px;
	--icon-suttonhelm: -594px -1089px;
	--icon-swancape: -627px -1089px;
	--icon-sweetbeets: -660px -1089px;
	--icon-sylvanite: -693px -1089px;
	--icon-taflgame: -726px -1089px;
	--icon-tallowcandle: -759px -1089px;
	--icon-tanfluid: -792px -1089px;
	--icon-tankard-full: -825px -1089px;
	--icon-tankard: -858px -1089px;
	--icon-taprootlacing: -891px -1089px;
	--icon-tarsticks: -924px -1089px;
	--icon-tar: -957px -1089px;
	--icon-tea-any: -990px -1089px;
	--icon-tea-black: -1023px -1089px;
	--icon-tea-fresh: -1056px -1089px;
	--icon-tea-green: -1089px -1089px;
	--icon-teapot-full: -1122px -1089px;
	--icon-teapot: -1155px -1089px;
	--icon-teapot-u: -1188px -1089px;
	--icon-thanesring: -1221px -1089px;
	--icon-thatching: 0px -1122px;
	--icon-thimble: -33px -1122px;
	--icon-tinvination: -66px -1122px;
	--icon-tinwarrior: -99px -1122px;
	--icon-tinyabacus: -132px -1122px;
	--icon-toadbutter: -165px -1122px;
	--icon-toad: -198px -1122px;
	--icon-tobacco-ground: -231px -1122px;
	--icon-tobacco: -264px -1122px;
	--icon-torch-l: -297px -1122px;
	--icon-torch: -330px -1122px;
	--icon-toychariot: -363px -1122px;
	--icon-toychariot-u: -396px -1122px;
	--icon-trash: -429px -1122px;
	--icon-treeseed: -462px -1122px;
	--icon-trollbelt: -495px -1122px;
	--icon-trolleye: -528px -1122px;
	--icon-trollhair: -561px -1122px;
	--icon-trollshrooms: -594px -1122px;
	--icon-tubermash: -627px -1122px;
	--icon-tuber: -660px -1122px;
	--icon-turnip: -693px -1122px;
	--icon-twigofspruce: -726px -1122px;
	--icon-uncrushedhusk: -759px -1122px;
	--icon-ushanka: -792px -1122px;
	--icon-vinegar: -825px -1122px;
	--icon-walnut: -858px -1122px;
	--icon-walrusboots: -891px -1122px;
	--icon-waterflask: -924px -1122px;
	--icon-waterstrider: -957px -1122px;
	--icon-water: -990px -1122px;
	--icon-waxlining: -1023px -1122px;
	--icon-wax: -1056px -1122px;
	--icon-wellplaicedpie: -1089px -1122px;
	--icon-whitebeamfruit: -1122px -1122px;
	--icon-wickerbreadbasket: -1155px -1122px;
	--icon-winebottle-full: -1188px -1122px;
	--icon-winebottle: -1221px -1122px;
	--icon-wineglass-full: 0px -1155px;
	--icon-wineglass: -33px -1155px;
	--icon-wine: -66px -1155px;
	--icon-wingedhelmet: -99px -1155px;
	--icon-wishbone: -132px -1155px;
	--icon-wolverineboots: -165px -1155px;
	--icon-wondrouswoodshaving: -198px -1155px;
	--icon-woodencup-full: -231px -1155px;
	--icon-woodencup: -264px -1155px;
	--icon-woodencutlery: -297px -1155px;
	--icon-woodenplate: -330px -1155px;
	--icon-woodgrouse-f-cleaned: -363px -1155px;
	--icon-woodgrouse-f-dead: -396px -1155px;
	--icon-woodgrouse-f-plucked: -429px -1155px;
	--icon-woodtoken: -462px -1155px;
	--icon-woolcloth: -495px -1155px;
	--icon-woolcollar: -528px -1155px;
	--icon-wool-goat: -561px -1155px;
	--icon-woolpants: -594px -1155px;
	--icon-wool-sheep: -627px -1155px;
	--icon-woolshirt: -660px -1155px;
	--icon-woolstuffing: -693px -1155px;
	--icon-wool: -726px -1155px;
	--icon-wormapple: -759px -1155px;
	--icon-wort: -792px -1155px;
	--icon-wurst-badgerbotillo: -825px -1155px;
	--icon-wurst-bearsalami: -858px -1155px;
	--icon-wurst-beaverdog: -891px -1155px;
	--icon-wurst-bigbearbanger: -924px -1155px;
	--icon-wurst-boarbaloney: -957px -1155px;
	--icon-wurst-boarboudin: -990px -1155px;
	--icon-wurst-butcherssurprise: -1023px -1155px;
	--icon-wurst-carpwal: -1056px -1155px;
	--icon-wurst-cavedog: -1089px -1155px;
	--icon-wurst-chickenchorizo: -1122px -1155px;
	--icon-wurst-cowchorizo: -1155px -1155px;
	--icon-wurst-deliciousdeer: -1188px -1155px;
	--icon-wurst-elkdog: -1221px -1155px;
	--icon-wurst-foxfuet: 0px -1188px;
	--icon-wurst-foxwurst: -33px -1188px;
	--icon-wurst-glazedgrazer: -66px -1188px;
	--icon-wurst-lamblynx: -99px -1188px;
	--icon-wurst-lambsausages: -132px -1188px;
	--icon-wurst-lynxalami: -165px -1188px;
	--icon-wurst-moodog: -198px -1188px;
	--icon-wurst-piglet: -231px -1188px;
	--icon-wurst-runningrabbit: -264px -1188px;
	--icon-wurst-swanneck: -297px -1188px;
	--icon-wurst-tamegame: -330px -1188px;
	--icon-wurst-woodking: -363px -1188px;
	--icon-wurst-www: -396px -1188px;
	--icon-yarn-sheep: -429px -1188px;
	--icon-yarn: -462px -1188px;
	--icon-yellowonion: -495px -1188px;
	--icon-zestybrill: -528px -1188px;
	--icon-herbs-wintergreen: -561px -1188px;
	--icon-herbs-marshmallow: -594px -1188px;
	--icon-herbs-fieldblewit: -627px -1188px;
	--icon-herbs-rainbowpad: -660px -1188px;
	--icon-kebab: -693px -1188px;
	--icon-egg-magpie: -726px -1188px;
	--icon-sandflea: -759px -1188px;
	--icon-cachalotcharm: -792px -1188px;
	--icon-whalersjacket: -825px -1188px;
	--icon-honeygruel: -858px -1188px;
	--icon-moonmoth: -891px -1188px;
	--icon-glazedhoneyons: -924px -1188px;
	--icon-grotesquetumor: -957px -1188px;
	--icon-seed-millet: -990px -1188px;
	--icon-jellyfish: -1023px -1188px;
	--icon-herbs-oyster: -1056px -1188px;
	--icon-meteorite: -1089px -1188px;
	--icon-felt: -1122px -1188px;
	--icon-felthat: -1155px -1188px;
	--icon-feltinlay: -1188px -1188px;
	--icon-mercuryglobe: -1221px -1188px;
	--icon-goldthread: 0px -1221px;
	--icon-goldcloth: -33px -1221px;
	--icon-herbs-truffle-black: -66px -1221px;
	--icon-herbs-truffle-white: -99px -1221px;
}