.small-icon {
    background-image: url(../images/sprites-small.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}

.game-icon-1x1 {
    background-image: url(../images/sprites.png);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: inline-block;
}

.game-icon-2x2 {
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    display: inline-block;
}

.blank-icon {
    background-image: none;
    display: inline-block;
}

.game-icon.disabled {
    filter: grayscale(100%);
}

.small-game-icon {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#app-menu {
    padding: 4px;
    margin-bottom: 10px;
}

#app-menu a {
    padding: 0 10px;
}

#app-footer span {
    margin: 0 auto 10px auto;
    font-size: 0.75em;
}

.scroll-top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 0.5em;
    background-color: #00000022;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.scroll-top:before {
    content: "\f062";
}

.scroll-top:hover {
    background-color: #00000033;
}

.small-faded-text {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.75);
}

.large-text {
    font-size: 2em;
}

.extra-large-text {
    font-size: 4em;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-align: center;
}

.card {
    width: 260px;
    border: 1px solid;
    font-size: 0.8em;
    display: flex;
    flex: 1 1 auto;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    display: -ms-flexbox;
    -ms-flex: 1 1 auto;
    -ms-flex-align: center;
    -ms-flex-direction: column;
}

.card-title {
    font-size: 1.2em;
}

.d-stack {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-direction: column;
    display: -ms-flexbox;
    -ms-flex: 1 1 auto;
    -ms-flex-align: center;
    -ms-flex-direction: column;
}

.btn-primary {
    background-color: #e0a72d;
    border-color: #e0a72d;
}

.btn-primary:hover {
    background-color: #b7851b;
    border-color: #b7851b;
}

.btn-primary:not(:disabled):active {
    background-color: #c8921e;
    border-color: #c8921e;
}
.btn-toggle {
    cursor: pointer;
}

.text-primary {
    color: #e0a72d !important;
}

/* ALCHEMY PAGE */

.card .stickers {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.75em;
}

.ingredient-display {
    position: relative;
}

.ingredient-display .select-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ingredient-display .popup::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-bottom-color: #171818;
}

.ingredient-display .popup::after {
    content: "";
    position: absolute;
    bottom: 100%;
    width: 100%;
    padding-top: 5px;
}

.ingredient-display .select-group .ingredient-display {
    cursor: pointer;
}

.see-more {
    width: 100%;
    justify-content: center;
}

.see-more .popup {
    width: 180px;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    visibility: hidden;
}

.see-more:hover > .popup {
    visibility: visible;
    transition-delay: 0s;
}

.ingredient-display .properties {
    gap: .25rem;
}
