.game-icon {
    --icon-missing: -2px -2px;
    --icon-herbs-baybolete: -36px -2px;
    --icon-herbs-blacktrumpet: -70px -2px;
    --icon-herbs-bladderwrack: -104px -2px;
    --icon-herbs-bloatedbolete: -138px -2px;
    --icon-herbs-bloodstern: -172px -2px;
    --icon-herbs-blueberry: -206px -2px;
    --icon-herbs-camomile: -240px -2px;
    --icon-herbs-candleberry: -274px -2px;
    --icon-herbs-cattailfibre: -308px -2px;
    --icon-herbs-cattailhead: -342px -2px;
    --icon-herbs-cattailroots: -376px -2px;
    --icon-herbs-cavebulb: -410px -2px;
    --icon-herbs-cavecoral: -444px -2px;
    --icon-herbs-cavelantern: -478px -2px;
    --icon-herbs-chantrelle: -2px -36px;
    --icon-herbs-chimingbluebell: -36px -36px;
    --icon-herbs-chives: -70px -36px;
    --icon-herbs-clover: -104px -36px;
    --icon-herbs-commonstarfish: -138px -36px;
    --icon-herbs-dandelion: -172px -36px;
    --icon-herbs-dill: -206px -36px;
    --icon-herbs-edelweiss: -240px -36px;
    --icon-herbs-flotsam: -274px -36px;
    --icon-herbs-fourleafclover: -308px -36px;
    --icon-herbs-frogscrown: -342px -36px;
    --icon-herbs-frogspawn: -376px -36px;
    --icon-herbs-giantpuffball: -410px -36px;
    --icon-herbs-glimmermoss: -444px -36px;
    --icon-herbs-goosebarnacle: -478px -36px;
    --icon-herbs-greenkelp: -2px -70px;
    --icon-herbs-kvann: -36px -70px;
    --icon-herbs-ladysmantledew: -70px -70px;
    --icon-herbs-ladysmantle: -104px -70px;
    --icon-herbs-lampstalk: -138px -70px;
    --icon-herbs-lingon: -172px -70px;
    --icon-herbs-lorchel: -206px -70px;
    --icon-herbs-mandrake: -240px -70px;
    --icon-herbs-mistletoe: -274px -70px;
    --icon-herbs-mussels: -308px -70px;
    --icon-herbs-parasolshroom: -342px -70px;
    --icon-herbs-royaltoadstool: -376px -70px;
    --icon-herbs-rustroot: -410px -70px;
    --icon-herbs-seashell: -444px -70px;
    --icon-herbs-snapdragon: -478px -70px;
    --icon-herbs-spindlytaproot: -2px -104px;
    --icon-herbs-stalagoom: -36px -104px;
    --icon-herbs-stingingnettle: -70px -104px;
    --icon-herbs-strawberry: -104px -104px;
    --icon-herbs-tangledbramble: -138px -104px;
    --icon-herbs-thornythistle: -172px -104px;
    --icon-herbs-vrakgods: -206px -104px;
    --icon-herbs-waybroad: -240px -104px;
    --icon-herbs-windweed: -274px -104px;
    --icon-herbs-yarrow: -308px -104px;
    --icon-herbs-yellowfoot: -342px -104px;
    --icon-herbs-truffleblack: -376px -104px;
    --icon-lorcheldried: -410px -104px;
    --icon-fairyshroom: -444px -104px;
    --icon-herbs-fieldblewit: -478px -104px;
    --icon-herbs-libertycap: -2px -138px;
    --icon-herbs-marshmallow: -36px -138px;
    --icon-lorchelwet: -70px -138px;
    --icon-trollshrooms: -104px -138px;
    --icon-herbs-whitetruffles: -138px -138px;
    --icon-herbs-wintergreen: -172px -138px;
    --icon-brownkelp: -206px -138px;
    --icon-herbs-coltsfoot: -240px -138px;
    --icon-dovepoop: -274px -138px;
    --icon-herbs-duskfern: -308px -138px;
    --icon-herbs-ghostapple: -342px -138px;
    --icon-herbs-heartsease: -376px -138px;
    --icon-herbs-indigocap: -410px -138px;
    --icon-herbs-lupine: -444px -138px;
    --icon-herbs-oystermushroom: -478px -138px;
    --icon-herbs-perfectautumnleaf: -2px -172px;
    --icon-champignon-small: -36px -172px;
    --icon-champignon-medium: -70px -172px;
    --icon-champignon-large: -104px -172px;
    --icon-reeds: -138px -172px;
    --icon-standinggrass: -172px -172px;
    --icon-herbs-rubybolete: -206px -172px;
    --icon-herbs-salvia: -240px -172px;
    --icon-herbs-seasponge: -274px -172px;
    --icon-herbs-shardofconch: -308px -172px;
    --icon-herbs-thyme: -342px -172px;
    --icon-herbs-toadflax: -376px -172px;
    --icon-herbs-tansy: -410px -172px;
    --icon-swamplilyshred: -444px -172px;
    --icon-herbs-razorclams: -478px -172px;
    --icon-roundclam: -2px -206px;
    --icon-herbs-oyster: -36px -206px;
    --icon-herbs-whalebarnacles: -70px -206px;
    --icon-herbs-sleighbell: -104px -206px;
    --icon-herbs-snowtop: -138px -206px;
    --icon-herbs-rabbitfrost: -172px -206px;
    --icon-herbs-precioussnowflake: -206px -206px;
    --icon-herbs-ambergris: -240px -206px;
    --icon-clay-gray: -274px -206px;
    --icon-clay-cave: -308px -206px;
    --icon-brick-coade: -342px -206px;
    --icon-alabaster: -376px -206px;
    --icon-apatite: -410px -206px;
    --icon-arkose: -444px -206px;
    --icon-basalt: -478px -206px;
    --icon-batrock: -2px -240px;
    --icon-blackcoal: -36px -240px;
    --icon-magnetite: -70px -240px;
    --icon-hematite: -104px -240px;
    --icon-breccia: -138px -240px;
    --icon-cassiterite: -172px -240px;
    --icon-catgold: -206px -240px;
    --icon-chalcopyrite: -240px -240px;
    --icon-chert: -274px -240px;
    --icon-cinnabar: -308px -240px;
    --icon-diabase: -342px -240px;
    --icon-diorite: -376px -240px;
    --icon-petzite: -410px -240px;
    --icon-dolomite: -444px -240px;
    --icon-dross: -478px -240px;
    --icon-eclogite: -2px -274px;
    --icon-feldspar: -36px -274px;
    --icon-flint: -70px -274px;
    --icon-fluorospar: -104px -274px;
    --icon-gabbro: -138px -274px;
    --icon-galena: -172px -274px;
    --icon-gneiss: -206px -274px;
    --icon-granite: -240px -274px;
    --icon-graywacke: -274px -274px;
    --icon-greenschist: -308px -274px;
    --icon-ilmenite: -342px -274px;
    --icon-hornblende: -376px -274px;
    --icon-hornsilver: -410px -274px;
    --icon-limonite: -444px -274px;
    --icon-jasper: -478px -274px;
    --icon-corund: -2px -308px;
    --icon-kyanite: -36px -308px;
    --icon-lavarock: -70px -308px;
    --icon-leadglance: -104px -308px;
    --icon-nagyagite: -138px -308px;
    --icon-limestone: -172px -308px;
    --icon-malachite: -206px -308px;
    --icon-marble: -240px -308px;
    --icon-mica: -274px -308px;
    --icon-microlite: -308px -308px;
    --icon-obsidian: -342px -308px;
    --icon-olivine: -376px -308px;
    --icon-orthoclase: -410px -308px;
    --icon-peacockore: -444px -308px;
    --icon-pegmatite: -478px -308px;
    --icon-porphyry: -2px -342px;
    --icon-pumice: -36px -342px;
    --icon-quarryquartz: -70px -342px;
    --icon-quartz: -104px -342px;
    --icon-rhyolite: -138px -342px;
    --icon-rockcrystal: -172px -342px;
    --icon-halite: -206px -342px;
    --icon-sandstone: -240px -342px;
    --icon-schist: -274px -342px;
    --icon-sylvanite: -308px -342px;
    --icon-serpentine: -342px -342px;
    --icon-argentite: -376px -342px;
    --icon-slag: -410px -342px;
    --icon-slate: -444px -342px;
    --icon-soapstone: -478px -342px;
    --icon-sodalite: -2px -376px;
    --icon-sunstone: -36px -376px;
    --icon-cuprite: -70px -376px;
    --icon-zincspar: -104px -376px;
    --icon-wblock-trombonechantrelle: -138px -376px;
}
