.game-icon-1x1 { background-position: -2px -2px; }
.game-icon-1x1.icon-missing { background-position: -2px -2px; }
.game-icon-1x1.icon-str { background-position: -36px -2px; }
.game-icon-1x1.icon-agi { background-position: -70px -2px; }
.game-icon-1x1.icon-int { background-position: -104px -2px; }
.game-icon-1x1.icon-con { background-position: -138px -2px; }
.game-icon-1x1.icon-prc { background-position: -172px -2px; }
.game-icon-1x1.icon-csm { background-position: -206px -2px; }
.game-icon-1x1.icon-dex { background-position: -240px -2px; }
.game-icon-1x1.icon-wil { background-position: -274px -2px; }
.game-icon-1x1.icon-psy { background-position: -308px -2px; }
.game-icon-1x1.icon-unarmed { background-position: -342px -2px; }
.game-icon-1x1.icon-melee { background-position: -376px -2px; }
.game-icon-1x1.icon-ranged { background-position: -410px -2px; }
.game-icon-1x1.icon-explore { background-position: -444px -2px; }
.game-icon-1x1.icon-stealth { background-position: -478px -2px; }
.game-icon-1x1.icon-sewing { background-position: -2px -36px; }
.game-icon-1x1.icon-smithing { background-position: -36px -36px; }
.game-icon-1x1.icon-masonry { background-position: -70px -36px; }
.game-icon-1x1.icon-carpentry { background-position: -104px -36px; }
.game-icon-1x1.icon-cooking { background-position: -138px -36px; }
.game-icon-1x1.icon-farming { background-position: -172px -36px; }
.game-icon-1x1.icon-survive { background-position: -206px -36px; }
.game-icon-1x1.icon-lore { background-position: -240px -36px; }
.game-icon-1x1.icon-expmod { background-position: -274px -36px; }
.game-icon-1x1.icon-invmore { background-position: -308px -36px; }
.game-icon-1x1.icon-addervenom { background-position: -342px -36px; }
.game-icon-1x1.icon-allergicreaction { background-position: -376px -36px; }
.game-icon-1x1.icon-antburn { background-position: -410px -36px; }
.game-icon-1x1.icon-asphyxiation { background-position: -444px -36px; }
.game-icon-1x1.icon-beesting { background-position: -478px -36px; }
.game-icon-1x1.icon-birdlung { background-position: -2px -70px; }
.game-icon-1x1.icon-blackeye { background-position: -36px -70px; }
.game-icon-1x1.icon-bladekiss { background-position: -70px -70px; }
.game-icon-1x1.icon-blunttrauma { background-position: -104px -70px; }
.game-icon-1x1.icon-bruise { background-position: -138px -70px; }
.game-icon-1x1.icon-bumburn { background-position: -172px -70px; }
.game-icon-1x1.icon-coalcough { background-position: -206px -70px; }
.game-icon-1x1.icon-concussion { background-position: -240px -70px; }
.game-icon-1x1.icon-crabcaressed { background-position: -274px -70px; }
.game-icon-1x1.icon-cruelincision { background-position: -308px -70px; }
.game-icon-1x1.icon-deepcut { background-position: -342px -70px; }
.game-icon-1x1.icon-dragonbite { background-position: -376px -70px; }
.game-icon-1x1.icon-fellslash { background-position: -410px -70px; }
.game-icon-1x1.icon-hearthburn { background-position: -444px -70px; }
.game-icon-1x1.icon-jellysting { background-position: -478px -70px; }
.game-icon-1x1.icon-leechburns { background-position: -2px -104px; }
.game-icon-1x1.icon-midgebite { background-position: -36px -104px; }
.game-icon-1x1.icon-nastylaceration { background-position: -70px -104px; }
.game-icon-1x1.icon-toadwart { background-position: -104px -104px; }
.game-icon-1x1.icon-nervdmg { background-position: -138px -104px; }
.game-icon-1x1.icon-nettleburn { background-position: -172px -104px; }
.game-icon-1x1.icon-nicksnknacks { background-position: -206px -104px; }
.game-icon-1x1.icon-nidburns { background-position: -240px -104px; }
.game-icon-1x1.icon-nosebleed { background-position: -274px -104px; }
.game-icon-1x1.icon-pipewheeze { background-position: -308px -104px; }
.game-icon-1x1.icon-punchsore { background-position: -342px -104px; }
.game-icon-1x1.icon-mercury { background-position: -376px -104px; }
.game-icon-1x1.icon-quilled { background-position: -410px -104px; }
.game-icon-1x1.icon-sandfleabites { background-position: -444px -104px; }
.game-icon-1x1.icon-scrapesncuts { background-position: -478px -104px; }
.game-icon-1x1.icon-sealfinger { background-position: -2px -138px; }
.game-icon-1x1.icon-severemauling { background-position: -36px -138px; }
.game-icon-1x1.icon-somethingbroken { background-position: -70px -138px; }
.game-icon-1x1.icon-soresnout { background-position: -104px -138px; }
.game-icon-1x1.icon-starvation { background-position: -138px -138px; }
.game-icon-1x1.icon-swampfever { background-position: -172px -138px; }
.game-icon-1x1.icon-swollenbump { background-position: -206px -138px; }
.game-icon-1x1.icon-tickedoff { background-position: -240px -138px; }
.game-icon-1x1.icon-tuskalooza { background-position: -274px -138px; }
.game-icon-1x1.icon-jointache { background-position: -308px -138px; }
.game-icon-1x1.icon-blisteringheadache { background-position: -342px -138px; }
.game-icon-1x1.icon-chillsandnausea { background-position: -376px -138px; }
.game-icon-1x1.icon-maddeningrash { background-position: -410px -138px; }
.game-icon-1x1.icon-rotgut { background-position: -444px -138px; }
.game-icon-1x1.icon-unfaced { background-position: -478px -138px; }
.game-icon-1x1.icon-wretchedgore { background-position: -2px -172px; }
.game-icon-1x1.icon-duration-increased { background-position: -36px -172px; }
.game-icon-1x1.icon-duration-decreased { background-position: -70px -172px; }
.game-icon-1x1.icon-herbs-baybolete { background-position: -104px -172px; }
.game-icon-1x1.icon-herbs-blacktrumpet { background-position: -138px -172px; }
.game-icon-1x1.icon-herbs-bladderwrack { background-position: -172px -172px; }
.game-icon-1x1.icon-herbs-bloatedbolete { background-position: -206px -172px; }
.game-icon-1x1.icon-herbs-bloodstern { background-position: -240px -172px; }
.game-icon-1x1.icon-herbs-blueberry { background-position: -274px -172px; }
.game-icon-1x1.icon-herbs-camomile { background-position: -308px -172px; }
.game-icon-1x1.icon-herbs-candleberry { background-position: -342px -172px; }
.game-icon-1x1.icon-herbs-cattailfibre { background-position: -376px -172px; }
.game-icon-1x1.icon-herbs-cattailhead { background-position: -410px -172px; }
.game-icon-1x1.icon-herbs-cattailroots { background-position: -444px -172px; }
.game-icon-1x1.icon-herbs-cavebulb { background-position: -478px -172px; }
.game-icon-1x1.icon-herbs-cavecoral { background-position: -2px -206px; }
.game-icon-1x1.icon-herbs-cavelantern { background-position: -36px -206px; }
.game-icon-1x1.icon-herbs-chantrelle { background-position: -70px -206px; }
.game-icon-1x1.icon-herbs-chimingbluebell { background-position: -104px -206px; }
.game-icon-1x1.icon-herbs-chives { background-position: -138px -206px; }
.game-icon-1x1.icon-herbs-clover { background-position: -172px -206px; }
.game-icon-1x1.icon-herbs-commonstarfish { background-position: -206px -206px; }
.game-icon-1x1.icon-herbs-dandelion { background-position: -240px -206px; }
.game-icon-1x1.icon-herbs-dill { background-position: -274px -206px; }
.game-icon-1x1.icon-herbs-edelweiss { background-position: -308px -206px; }
.game-icon-1x1.icon-herbs-flotsam { background-position: -342px -206px; }
.game-icon-1x1.icon-herbs-fourleafclover { background-position: -376px -206px; }
.game-icon-1x1.icon-herbs-frogscrown { background-position: -410px -206px; }
.game-icon-1x1.icon-herbs-frogspawn { background-position: -444px -206px; }
.game-icon-1x1.icon-herbs-giantpuffball { background-position: -478px -206px; }
.game-icon-1x1.icon-herbs-glimmermoss { background-position: -2px -240px; }
.game-icon-1x1.icon-herbs-goosebarnacle { background-position: -36px -240px; }
.game-icon-1x1.icon-herbs-greenkelp { background-position: -70px -240px; }
.game-icon-1x1.icon-herbs-kvann { background-position: -104px -240px; }
.game-icon-1x1.icon-herbs-ladysmantledew { background-position: -138px -240px; }
.game-icon-1x1.icon-herbs-ladysmantle { background-position: -172px -240px; }
.game-icon-1x1.icon-herbs-lampstalk { background-position: -206px -240px; }
.game-icon-1x1.icon-herbs-lingon { background-position: -240px -240px; }
.game-icon-1x1.icon-herbs-lorchel { background-position: -274px -240px; }
.game-icon-1x1.icon-herbs-mandrake { background-position: -308px -240px; }
.game-icon-1x1.icon-herbs-mistletoe { background-position: -342px -240px; }
.game-icon-1x1.icon-herbs-mussels { background-position: -376px -240px; }
.game-icon-1x1.icon-herbs-parasolshroom { background-position: -410px -240px; }
.game-icon-1x1.icon-herbs-royaltoadstool { background-position: -444px -240px; }
.game-icon-1x1.icon-herbs-rustroot { background-position: -478px -240px; }
.game-icon-1x1.icon-herbs-seashell { background-position: -2px -274px; }
.game-icon-1x1.icon-herbs-snapdragon { background-position: -36px -274px; }
.game-icon-1x1.icon-herbs-spindlytaproot { background-position: -70px -274px; }
.game-icon-1x1.icon-herbs-stalagoom { background-position: -104px -274px; }
.game-icon-1x1.icon-herbs-stingingnettle { background-position: -138px -274px; }
.game-icon-1x1.icon-herbs-strawberry { background-position: -172px -274px; }
.game-icon-1x1.icon-herbs-tangledbramble { background-position: -206px -274px; }
.game-icon-1x1.icon-herbs-thornythistle { background-position: -240px -274px; }
.game-icon-1x1.icon-herbs-vrakgods { background-position: -274px -274px; }
.game-icon-1x1.icon-herbs-waybroad { background-position: -308px -274px; }
.game-icon-1x1.icon-herbs-windweed { background-position: -342px -274px; }
.game-icon-1x1.icon-herbs-yarrow { background-position: -376px -274px; }
.game-icon-1x1.icon-herbs-yellowfoot { background-position: -410px -274px; }
.game-icon-1x1.icon-lorcheldried { background-position: -444px -274px; }
.game-icon-1x1.icon-fairyshroom { background-position: -478px -274px; }
.game-icon-1x1.icon-herbs-fieldblewit { background-position: -2px -308px; }
.game-icon-1x1.icon-herbs-libertycap { background-position: -36px -308px; }
.game-icon-1x1.icon-herbs-marshmallow { background-position: -70px -308px; }
.game-icon-1x1.icon-lorchelwet { background-position: -104px -308px; }
.game-icon-1x1.icon-trollshrooms { background-position: -138px -308px; }
.game-icon-1x1.icon-herbs-truffle-black { background-position: -172px -308px; }
.game-icon-1x1.icon-herbs-truffle-white { background-position: -206px -308px; }
.game-icon-1x1.icon-herbs-wintergreen { background-position: -240px -308px; }
.game-icon-1x1.icon-brownkelp { background-position: -274px -308px; }
.game-icon-1x1.icon-herbs-coltsfoot { background-position: -308px -308px; }
.game-icon-1x1.icon-dovepoop { background-position: -342px -308px; }
.game-icon-1x1.icon-herbs-duskfern { background-position: -376px -308px; }
.game-icon-1x1.icon-herbs-ghostapple { background-position: -410px -308px; }
.game-icon-1x1.icon-herbs-heartsease { background-position: -444px -308px; }
.game-icon-1x1.icon-herbs-indigocap { background-position: -478px -308px; }
.game-icon-1x1.icon-herbs-lupine { background-position: -2px -342px; }
.game-icon-1x1.icon-herbs-oystermushroom { background-position: -36px -342px; }
.game-icon-1x1.icon-herbs-perfectautumnleaf { background-position: -70px -342px; }
.game-icon-1x1.icon-champignon-small { background-position: -104px -342px; }
.game-icon-1x1.icon-champignon-medium { background-position: -138px -342px; }
.game-icon-1x1.icon-champignon-large { background-position: -172px -342px; }
.game-icon-1x1.icon-reeds { background-position: -206px -342px; }
.game-icon-1x1.icon-standinggrass { background-position: -240px -342px; }
.game-icon-1x1.icon-herbs-rubybolete { background-position: -274px -342px; }
.game-icon-1x1.icon-herbs-salvia { background-position: -308px -342px; }
.game-icon-1x1.icon-herbs-seasponge { background-position: -342px -342px; }
.game-icon-1x1.icon-conchshard { background-position: -376px -342px; }
.game-icon-1x1.icon-herbs-thyme { background-position: -410px -342px; }
.game-icon-1x1.icon-herbs-toadflax { background-position: -444px -342px; }
.game-icon-1x1.icon-herbs-tansy { background-position: -478px -342px; }
.game-icon-1x1.icon-swamplilyshred { background-position: -2px -376px; }
.game-icon-1x1.icon-herbs-razorclams { background-position: -36px -376px; }
.game-icon-1x1.icon-roundclam { background-position: -70px -376px; }
.game-icon-1x1.icon-herbs-oyster { background-position: -104px -376px; }
.game-icon-1x1.icon-herbs-whalebarnacle { background-position: -138px -376px; }
.game-icon-1x1.icon-herbs-sleighbell { background-position: -172px -376px; }
.game-icon-1x1.icon-herbs-snowtop { background-position: -206px -376px; }
.game-icon-1x1.icon-herbs-rabbitfrost { background-position: -240px -376px; }
.game-icon-1x1.icon-herbs-precioussnowflake { background-position: -274px -376px; }
.game-icon-1x1.icon-herbs-ambergris { background-position: -308px -376px; }
.game-icon-1x1.icon-clay-gray { background-position: -342px -376px; }
.game-icon-1x1.icon-clay-cave { background-position: -376px -376px; }
.game-icon-1x1.icon-brick-coade { background-position: -410px -376px; }
.game-icon-1x1.icon-alabaster { background-position: -444px -376px; }
.game-icon-1x1.icon-apatite { background-position: -478px -376px; }
.game-icon-1x1.icon-arkose { background-position: -2px -410px; }
.game-icon-1x1.icon-basalt { background-position: -36px -410px; }
.game-icon-1x1.icon-batrock { background-position: -70px -410px; }
.game-icon-1x1.icon-blackcoal { background-position: -104px -410px; }
.game-icon-1x1.icon-magnetite { background-position: -138px -410px; }
.game-icon-1x1.icon-hematite { background-position: -172px -410px; }
.game-icon-1x1.icon-breccia { background-position: -206px -410px; }
.game-icon-1x1.icon-cassiterite { background-position: -240px -410px; }
.game-icon-1x1.icon-catgold { background-position: -274px -410px; }
.game-icon-1x1.icon-chalcopyrite { background-position: -308px -410px; }
.game-icon-1x1.icon-chert { background-position: -342px -410px; }
.game-icon-1x1.icon-cinnabar { background-position: -376px -410px; }
.game-icon-1x1.icon-diabase { background-position: -410px -410px; }
.game-icon-1x1.icon-diorite { background-position: -444px -410px; }
.game-icon-1x1.icon-petzite { background-position: -478px -410px; }
.game-icon-1x1.icon-dolomite { background-position: -2px -444px; }
.game-icon-1x1.icon-dross { background-position: -36px -444px; }
.game-icon-1x1.icon-eclogite { background-position: -70px -444px; }
.game-icon-1x1.icon-feldspar { background-position: -104px -444px; }
.game-icon-1x1.icon-flint { background-position: -138px -444px; }
.game-icon-1x1.icon-fluorospar { background-position: -172px -444px; }
.game-icon-1x1.icon-gabbro { background-position: -206px -444px; }
.game-icon-1x1.icon-galena { background-position: -240px -444px; }
.game-icon-1x1.icon-gneiss { background-position: -274px -444px; }
.game-icon-1x1.icon-granite { background-position: -308px -444px; }
.game-icon-1x1.icon-graywacke { background-position: -342px -444px; }
.game-icon-1x1.icon-greenschist { background-position: -376px -444px; }
.game-icon-1x1.icon-ilmenite { background-position: -410px -444px; }
.game-icon-1x1.icon-hornblende { background-position: -444px -444px; }
.game-icon-1x1.icon-hornsilver { background-position: -478px -444px; }
.game-icon-1x1.icon-limonite { background-position: -2px -478px; }
.game-icon-1x1.icon-jasper { background-position: -36px -478px; }
.game-icon-1x1.icon-corund { background-position: -70px -478px; }
.game-icon-1x1.icon-kyanite { background-position: -104px -478px; }
.game-icon-1x1.icon-lavarock { background-position: -138px -478px; }
.game-icon-1x1.icon-leadglance { background-position: -172px -478px; }
.game-icon-1x1.icon-nagyagite { background-position: -206px -478px; }
.game-icon-1x1.icon-limestone { background-position: -240px -478px; }
.game-icon-1x1.icon-malachite { background-position: -274px -478px; }
.game-icon-1x1.icon-marble { background-position: -308px -478px; }
.game-icon-1x1.icon-mica { background-position: -342px -478px; }
.game-icon-1x1.icon-microlite { background-position: -376px -478px; }
.game-icon-1x1.icon-obsidian { background-position: -410px -478px; }
.game-icon-1x1.icon-olivine { background-position: -444px -478px; }
.game-icon-1x1.icon-orthoclase { background-position: -478px -478px; }
.game-icon-1x1.icon-peacockore { background-position: -2px -512px; }
.game-icon-1x1.icon-pegmatite { background-position: -36px -512px; }
.game-icon-1x1.icon-porphyry { background-position: -70px -512px; }
.game-icon-1x1.icon-pumice { background-position: -104px -512px; }
.game-icon-1x1.icon-quarryquartz { background-position: -138px -512px; }
.game-icon-1x1.icon-quartz { background-position: -172px -512px; }
.game-icon-1x1.icon-rhyolite { background-position: -206px -512px; }
.game-icon-1x1.icon-rockcrystal { background-position: -240px -512px; }
.game-icon-1x1.icon-halite { background-position: -274px -512px; }
.game-icon-1x1.icon-sandstone { background-position: -308px -512px; }
.game-icon-1x1.icon-schist { background-position: -342px -512px; }
.game-icon-1x1.icon-sylvanite { background-position: -376px -512px; }
.game-icon-1x1.icon-serpentine { background-position: -410px -512px; }
.game-icon-1x1.icon-argentite { background-position: -444px -512px; }
.game-icon-1x1.icon-slag { background-position: -478px -512px; }
.game-icon-1x1.icon-slate { background-position: -2px -546px; }
.game-icon-1x1.icon-soapstone { background-position: -36px -546px; }
.game-icon-1x1.icon-sodalite { background-position: -70px -546px; }
.game-icon-1x1.icon-sunstone { background-position: -104px -546px; }
.game-icon-1x1.icon-cuprite { background-position: -138px -546px; }
.game-icon-1x1.icon-zincspar { background-position: -172px -546px; }
.game-icon-1x1.icon-wblock-trombonechantrelle { background-position: -206px -546px; }
.game-icon-1x1.icon-measureddistillate { background-position: -240px -546px; }
.game-icon-1x1.icon-lyeablution { background-position: -274px -546px; }
.game-icon-1x1.icon-fierycombustion { background-position: -308px -546px; }
.game-icon-1x1.icon-herbalgrind { background-position: -342px -546px; }
.game-icon-1x1.icon-mineralcalcination { background-position: -376px -546px; }
.game-icon-1x1.icon-herbalswill { background-position: -410px -546px; }
.game-icon-1x1.icon-mercurialelixir { background-position: -444px -546px; }
.game-icon-1x1.icon-mushroomdecoction { background-position: -478px -546px; }
