.small-icon { background-position: -2px -2px; }
.small-icon.icon-missing { background-position: -2px -2px; }
.small-icon.icon-str { background-position: -20px -2px; }
.small-icon.icon-agi { background-position: -38px -2px; }
.small-icon.icon-int { background-position: -56px -2px; }
.small-icon.icon-con { background-position: -74px -2px; }
.small-icon.icon-prc { background-position: -92px -2px; }
.small-icon.icon-csm { background-position: -110px -2px; }
.small-icon.icon-dex { background-position: -128px -2px; }
.small-icon.icon-wil { background-position: -146px -2px; }
.small-icon.icon-psy { background-position: -164px -2px; }
.small-icon.icon-unarmed { background-position: -182px -2px; }
.small-icon.icon-melee { background-position: -200px -2px; }
.small-icon.icon-ranged { background-position: -218px -2px; }
.small-icon.icon-explore { background-position: -236px -2px; }
.small-icon.icon-stealth { background-position: -254px -2px; }
.small-icon.icon-sewing { background-position: -2px -20px; }
.small-icon.icon-smithing { background-position: -20px -20px; }
.small-icon.icon-masonry { background-position: -38px -20px; }
.small-icon.icon-carpentry { background-position: -56px -20px; }
.small-icon.icon-cooking { background-position: -74px -20px; }
.small-icon.icon-farming { background-position: -92px -20px; }
.small-icon.icon-survive { background-position: -110px -20px; }
.small-icon.icon-lore { background-position: -128px -20px; }
.small-icon.icon-expmod { background-position: -146px -20px; }
.small-icon.icon-invmore { background-position: -164px -20px; }
.small-icon.icon-addervenom { background-position: -182px -20px; }
.small-icon.icon-allergicreaction { background-position: -200px -20px; }
.small-icon.icon-antburn { background-position: -218px -20px; }
.small-icon.icon-asphyxiation { background-position: -236px -20px; }
.small-icon.icon-beesting { background-position: -254px -20px; }
.small-icon.icon-birdlung { background-position: -2px -38px; }
.small-icon.icon-blackeye { background-position: -20px -38px; }
.small-icon.icon-bladekiss { background-position: -38px -38px; }
.small-icon.icon-blunttrauma { background-position: -56px -38px; }
.small-icon.icon-bruise { background-position: -74px -38px; }
.small-icon.icon-bumburn { background-position: -92px -38px; }
.small-icon.icon-coalcough { background-position: -110px -38px; }
.small-icon.icon-concussion { background-position: -128px -38px; }
.small-icon.icon-crabcaressed { background-position: -146px -38px; }
.small-icon.icon-cruelincision { background-position: -164px -38px; }
.small-icon.icon-deepcut { background-position: -182px -38px; }
.small-icon.icon-dragonbite { background-position: -200px -38px; }
.small-icon.icon-fellslash { background-position: -218px -38px; }
.small-icon.icon-hearthburn { background-position: -236px -38px; }
.small-icon.icon-jellysting { background-position: -254px -38px; }
.small-icon.icon-leechburns { background-position: -2px -56px; }
.small-icon.icon-midgebite { background-position: -20px -56px; }
.small-icon.icon-nastylaceration { background-position: -38px -56px; }
.small-icon.icon-toadwart { background-position: -56px -56px; }
.small-icon.icon-nervdmg { background-position: -74px -56px; }
.small-icon.icon-nettleburn { background-position: -92px -56px; }
.small-icon.icon-nicksnknacks { background-position: -110px -56px; }
.small-icon.icon-nidburns { background-position: -128px -56px; }
.small-icon.icon-nosebleed { background-position: -146px -56px; }
.small-icon.icon-pipewheeze { background-position: -164px -56px; }
.small-icon.icon-punchsore { background-position: -182px -56px; }
.small-icon.icon-mercury { background-position: -200px -56px; }
.small-icon.icon-quilled { background-position: -218px -56px; }
.small-icon.icon-sandfleabites { background-position: -236px -56px; }
.small-icon.icon-scrapesncuts { background-position: -254px -56px; }
.small-icon.icon-sealfinger { background-position: -2px -74px; }
.small-icon.icon-severemauling { background-position: -20px -74px; }
.small-icon.icon-somethingbroken { background-position: -38px -74px; }
.small-icon.icon-soresnout { background-position: -56px -74px; }
.small-icon.icon-starvation { background-position: -74px -74px; }
.small-icon.icon-swampfever { background-position: -92px -74px; }
.small-icon.icon-swollenbump { background-position: -110px -74px; }
.small-icon.icon-tickedoff { background-position: -128px -74px; }
.small-icon.icon-tuskalooza { background-position: -146px -74px; }
.small-icon.icon-jointache { background-position: -164px -74px; }
.small-icon.icon-blisteringheadache { background-position: -182px -74px; }
.small-icon.icon-chillsandnausea { background-position: -200px -74px; }
.small-icon.icon-maddeningrash { background-position: -218px -74px; }
.small-icon.icon-rotgut { background-position: -236px -74px; }
.small-icon.icon-unfaced { background-position: -254px -74px; }
.small-icon.icon-wretchedgore { background-position: -2px -92px; }
.small-icon.icon-duration-increased { background-position: -20px -92px; }
.small-icon.icon-duration-decreased { background-position: -38px -92px; }
.small-icon.icon-herbs-baybolete { background-position: -56px -92px; }
.small-icon.icon-herbs-blacktrumpet { background-position: -74px -92px; }
.small-icon.icon-herbs-bladderwrack { background-position: -92px -92px; }
.small-icon.icon-herbs-bloatedbolete { background-position: -110px -92px; }
.small-icon.icon-herbs-bloodstern { background-position: -128px -92px; }
.small-icon.icon-herbs-blueberry { background-position: -146px -92px; }
.small-icon.icon-herbs-camomile { background-position: -164px -92px; }
.small-icon.icon-herbs-candleberry { background-position: -182px -92px; }
.small-icon.icon-herbs-cattailfibre { background-position: -200px -92px; }
.small-icon.icon-herbs-cattailhead { background-position: -218px -92px; }
.small-icon.icon-herbs-cattailroots { background-position: -236px -92px; }
.small-icon.icon-herbs-cavebulb { background-position: -254px -92px; }
.small-icon.icon-herbs-cavecoral { background-position: -2px -110px; }
.small-icon.icon-herbs-cavelantern { background-position: -20px -110px; }
.small-icon.icon-herbs-chantrelle { background-position: -38px -110px; }
.small-icon.icon-herbs-chimingbluebell { background-position: -56px -110px; }
.small-icon.icon-herbs-chives { background-position: -74px -110px; }
.small-icon.icon-herbs-clover { background-position: -92px -110px; }
.small-icon.icon-herbs-commonstarfish { background-position: -110px -110px; }
.small-icon.icon-herbs-dandelion { background-position: -128px -110px; }
.small-icon.icon-herbs-dill { background-position: -146px -110px; }
.small-icon.icon-herbs-edelweiss { background-position: -164px -110px; }
.small-icon.icon-herbs-flotsam { background-position: -182px -110px; }
.small-icon.icon-herbs-fourleafclover { background-position: -200px -110px; }
.small-icon.icon-herbs-frogscrown { background-position: -218px -110px; }
.small-icon.icon-herbs-frogspawn { background-position: -236px -110px; }
.small-icon.icon-herbs-giantpuffball { background-position: -254px -110px; }
.small-icon.icon-herbs-glimmermoss { background-position: -2px -128px; }
.small-icon.icon-herbs-goosebarnacle { background-position: -20px -128px; }
.small-icon.icon-herbs-greenkelp { background-position: -38px -128px; }
.small-icon.icon-herbs-kvann { background-position: -56px -128px; }
.small-icon.icon-herbs-ladysmantledew { background-position: -74px -128px; }
.small-icon.icon-herbs-ladysmantle { background-position: -92px -128px; }
.small-icon.icon-herbs-lampstalk { background-position: -110px -128px; }
.small-icon.icon-herbs-lingon { background-position: -128px -128px; }
.small-icon.icon-herbs-lorchel { background-position: -146px -128px; }
.small-icon.icon-herbs-mandrake { background-position: -164px -128px; }
.small-icon.icon-herbs-mistletoe { background-position: -182px -128px; }
.small-icon.icon-herbs-mussels { background-position: -200px -128px; }
.small-icon.icon-herbs-parasolshroom { background-position: -218px -128px; }
.small-icon.icon-herbs-royaltoadstool { background-position: -236px -128px; }
.small-icon.icon-herbs-rustroot { background-position: -254px -128px; }
.small-icon.icon-herbs-seashell { background-position: -2px -146px; }
.small-icon.icon-herbs-snapdragon { background-position: -20px -146px; }
.small-icon.icon-herbs-spindlytaproot { background-position: -38px -146px; }
.small-icon.icon-herbs-stalagoom { background-position: -56px -146px; }
.small-icon.icon-herbs-stingingnettle { background-position: -74px -146px; }
.small-icon.icon-herbs-strawberry { background-position: -92px -146px; }
.small-icon.icon-herbs-tangledbramble { background-position: -110px -146px; }
.small-icon.icon-herbs-thornythistle { background-position: -128px -146px; }
.small-icon.icon-herbs-vrakgods { background-position: -146px -146px; }
.small-icon.icon-herbs-waybroad { background-position: -164px -146px; }
.small-icon.icon-herbs-windweed { background-position: -182px -146px; }
.small-icon.icon-herbs-yarrow { background-position: -200px -146px; }
.small-icon.icon-herbs-yellowfoot { background-position: -218px -146px; }
.small-icon.icon-lorcheldried { background-position: -236px -146px; }
.small-icon.icon-fairyshroom { background-position: -254px -146px; }
.small-icon.icon-herbs-fieldblewit { background-position: -2px -164px; }
.small-icon.icon-herbs-libertycap { background-position: -20px -164px; }
.small-icon.icon-herbs-marshmallow { background-position: -38px -164px; }
.small-icon.icon-lorchelwet { background-position: -56px -164px; }
.small-icon.icon-trollshrooms { background-position: -74px -164px; }
.small-icon.icon-herbs-truffle-black { background-position: -92px -164px; }
.small-icon.icon-herbs-truffle-white { background-position: -110px -164px; }
.small-icon.icon-herbs-wintergreen { background-position: -128px -164px; }
.small-icon.icon-brownkelp { background-position: -146px -164px; }
.small-icon.icon-herbs-coltsfoot { background-position: -164px -164px; }
.small-icon.icon-dovepoop { background-position: -182px -164px; }
.small-icon.icon-herbs-duskfern { background-position: -200px -164px; }
.small-icon.icon-herbs-ghostapple { background-position: -218px -164px; }
.small-icon.icon-herbs-heartsease { background-position: -236px -164px; }
.small-icon.icon-herbs-indigocap { background-position: -254px -164px; }
.small-icon.icon-herbs-lupine { background-position: -2px -182px; }
.small-icon.icon-herbs-oystermushroom { background-position: -20px -182px; }
.small-icon.icon-herbs-perfectautumnleaf { background-position: -38px -182px; }
.small-icon.icon-champignon-small { background-position: -56px -182px; }
.small-icon.icon-champignon-medium { background-position: -74px -182px; }
.small-icon.icon-champignon-large { background-position: -92px -182px; }
.small-icon.icon-reeds { background-position: -110px -182px; }
.small-icon.icon-standinggrass { background-position: -128px -182px; }
.small-icon.icon-herbs-rubybolete { background-position: -146px -182px; }
.small-icon.icon-herbs-salvia { background-position: -164px -182px; }
.small-icon.icon-herbs-seasponge { background-position: -182px -182px; }
.small-icon.icon-conchshard { background-position: -200px -182px; }
.small-icon.icon-herbs-thyme { background-position: -218px -182px; }
.small-icon.icon-herbs-toadflax { background-position: -236px -182px; }
.small-icon.icon-herbs-tansy { background-position: -254px -182px; }
.small-icon.icon-swamplilyshred { background-position: -2px -200px; }
.small-icon.icon-herbs-razorclams { background-position: -20px -200px; }
.small-icon.icon-roundclam { background-position: -38px -200px; }
.small-icon.icon-herbs-oyster { background-position: -56px -200px; }
.small-icon.icon-herbs-whalebarnacle { background-position: -74px -200px; }
.small-icon.icon-herbs-sleighbell { background-position: -92px -200px; }
.small-icon.icon-herbs-snowtop { background-position: -110px -200px; }
.small-icon.icon-herbs-rabbitfrost { background-position: -128px -200px; }
.small-icon.icon-herbs-precioussnowflake { background-position: -146px -200px; }
.small-icon.icon-herbs-ambergris { background-position: -164px -200px; }
.small-icon.icon-clay-gray { background-position: -182px -200px; }
.small-icon.icon-clay-cave { background-position: -200px -200px; }
.small-icon.icon-brick-coade { background-position: -218px -200px; }
.small-icon.icon-alabaster { background-position: -236px -200px; }
.small-icon.icon-apatite { background-position: -254px -200px; }
.small-icon.icon-arkose { background-position: -2px -218px; }
.small-icon.icon-basalt { background-position: -20px -218px; }
.small-icon.icon-batrock { background-position: -38px -218px; }
.small-icon.icon-blackcoal { background-position: -56px -218px; }
.small-icon.icon-magnetite { background-position: -74px -218px; }
.small-icon.icon-hematite { background-position: -92px -218px; }
.small-icon.icon-breccia { background-position: -110px -218px; }
.small-icon.icon-cassiterite { background-position: -128px -218px; }
.small-icon.icon-catgold { background-position: -146px -218px; }
.small-icon.icon-chalcopyrite { background-position: -164px -218px; }
.small-icon.icon-chert { background-position: -182px -218px; }
.small-icon.icon-cinnabar { background-position: -200px -218px; }
.small-icon.icon-diabase { background-position: -218px -218px; }
.small-icon.icon-diorite { background-position: -236px -218px; }
.small-icon.icon-petzite { background-position: -254px -218px; }
.small-icon.icon-dolomite { background-position: -2px -236px; }
.small-icon.icon-dross { background-position: -20px -236px; }
.small-icon.icon-eclogite { background-position: -38px -236px; }
.small-icon.icon-feldspar { background-position: -56px -236px; }
.small-icon.icon-flint { background-position: -74px -236px; }
.small-icon.icon-fluorospar { background-position: -92px -236px; }
.small-icon.icon-gabbro { background-position: -110px -236px; }
.small-icon.icon-galena { background-position: -128px -236px; }
.small-icon.icon-gneiss { background-position: -146px -236px; }
.small-icon.icon-granite { background-position: -164px -236px; }
.small-icon.icon-graywacke { background-position: -182px -236px; }
.small-icon.icon-greenschist { background-position: -200px -236px; }
.small-icon.icon-ilmenite { background-position: -218px -236px; }
.small-icon.icon-hornblende { background-position: -236px -236px; }
.small-icon.icon-hornsilver { background-position: -254px -236px; }
.small-icon.icon-limonite { background-position: -2px -254px; }
.small-icon.icon-jasper { background-position: -20px -254px; }
.small-icon.icon-corund { background-position: -38px -254px; }
.small-icon.icon-kyanite { background-position: -56px -254px; }
.small-icon.icon-lavarock { background-position: -74px -254px; }
.small-icon.icon-leadglance { background-position: -92px -254px; }
.small-icon.icon-nagyagite { background-position: -110px -254px; }
.small-icon.icon-limestone { background-position: -128px -254px; }
.small-icon.icon-malachite { background-position: -146px -254px; }
.small-icon.icon-marble { background-position: -164px -254px; }
.small-icon.icon-mica { background-position: -182px -254px; }
.small-icon.icon-microlite { background-position: -200px -254px; }
.small-icon.icon-obsidian { background-position: -218px -254px; }
.small-icon.icon-olivine { background-position: -236px -254px; }
.small-icon.icon-orthoclase { background-position: -254px -254px; }
.small-icon.icon-peacockore { background-position: -2px -272px; }
.small-icon.icon-pegmatite { background-position: -20px -272px; }
.small-icon.icon-porphyry { background-position: -38px -272px; }
.small-icon.icon-pumice { background-position: -56px -272px; }
.small-icon.icon-quarryquartz { background-position: -74px -272px; }
.small-icon.icon-quartz { background-position: -92px -272px; }
.small-icon.icon-rhyolite { background-position: -110px -272px; }
.small-icon.icon-rockcrystal { background-position: -128px -272px; }
.small-icon.icon-halite { background-position: -146px -272px; }
.small-icon.icon-sandstone { background-position: -164px -272px; }
.small-icon.icon-schist { background-position: -182px -272px; }
.small-icon.icon-sylvanite { background-position: -200px -272px; }
.small-icon.icon-serpentine { background-position: -218px -272px; }
.small-icon.icon-argentite { background-position: -236px -272px; }
.small-icon.icon-slag { background-position: -254px -272px; }
.small-icon.icon-slate { background-position: -2px -290px; }
.small-icon.icon-soapstone { background-position: -20px -290px; }
.small-icon.icon-sodalite { background-position: -38px -290px; }
.small-icon.icon-sunstone { background-position: -56px -290px; }
.small-icon.icon-cuprite { background-position: -74px -290px; }
.small-icon.icon-zincspar { background-position: -92px -290px; }
.small-icon.icon-wblock-trombonechantrelle { background-position: -110px -290px; }
.small-icon.icon-measureddistillate { background-position: -128px -290px; }
.small-icon.icon-lyeablution { background-position: -146px -290px; }
.small-icon.icon-fierycombustion { background-position: -164px -290px; }
.small-icon.icon-herbalgrind { background-position: -182px -290px; }
.small-icon.icon-mineralcalcination { background-position: -200px -290px; }
.small-icon.icon-herbalswill { background-position: -218px -290px; }
.small-icon.icon-mercurialelixir { background-position: -236px -290px; }
.small-icon.icon-mushroomdecoction { background-position: -254px -290px; }
