#search-panel {
    background-color: #434545;
    border: 1px solid #171818;
    width: 60%;
    padding: 10px;
}

.search-container {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #171818;
    cursor: pointer;
}

.search-container > .fas {
    padding: 10px;
}

.search-container:hover .search-dropdown {
    visibility: visible;
    transition-delay:0s;
}

.search-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: -5px 15px 0 15px;
    background-color: #434545;
    border: 1px solid #171818;
    z-index: 99;
    visibility: hidden;
    transition: visibility 0s linear 0.2s;
}

.search-dropdown::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-right: 12px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #171818;
}

.search-results {
    max-height: 200px;
    overflow-y: auto;
    margin: 4px;
    padding: 2px;
}

.search-result-entry {
    opacity: 0.75;
    cursor: pointer;
    border: 1px solid transparent;
}

.search-result-entry:hover {
    opacity: 1;
}

.search-result-entry.selected {
    border: 1px solid #f9ba32;
}

.fep {
    color: #171818;
    margin: 2px 2px 10px 2px;
    width: 42px;
    height: 42px;
    background-color: #a0a0a0;
}

.fep-type {
    font-size: 0.8em;
    font-weight: bold;
}

.fep-value {
    font-size: 1.2em;
}

.fep-str {
    background-color: #be9693;
}

.fep-agi {
    background-color: #9894b7;
}

.fep-int {
    background-color: #96d5db;
}

.fep-con {
    background-color: #c199b3;
}

.fep-per {
    background-color: #e3be97;
}

.fep-cha {
    background-color: #8df6a9;
}

.fep-dex {
    background-color: #fdfccb;
}

.fep-wil {
    background-color: #e3f28e;
}

.fep-psy {
    background-color: #c38cfc;
}