.game-icon {
	--icon-missing: 0px 0px;
	--icon-addercrown: -33px 0px;
	--icon-adderfang: -66px 0px;
	--icon-adderhide: -99px 0px;
	--icon-almond: -132px 0px;
	--icon-ancientroot: -165px 0px;
	--icon-ancienttooth: -198px 0px;
	--icon-animalfat: -231px 0px;
	--icon-animalfat-r: -264px 0px;
	--icon-ant: -297px 0px;
	--icon-antfarm: -330px 0px;
	--icon-antlers-reddeer: -363px 0px;
	--icon-antlers-reindeer: -396px 0px;
	--icon-antlersteakcutlery: -429px 0px;
	--icon-ants-aphids: -462px 0px;
	--icon-ants-empress: -495px 0px;
	--icon-ants-larvae: -528px 0px;
	--icon-ants-pupae: -561px 0px;
	--icon-ants-queen: -594px 0px;
	--icon-ants-soldiers: -627px 0px;
	--icon-anyleather: -660px 0px;
	--icon-apatite: -693px 0px;
	--icon-applecore: -726px 0px;
	--icon-applepie: -759px 0px;
	--icon-apple: -792px 0px;
	--icon-argentite: -825px 0px;
	--icon-armoredstriders: -858px 0px;
	--icon-arrow: -891px 0px;
	--icon-arrow-bone: -924px 0px;
	--icon-arrow-metal: -957px 0px;
	--icon-arrow-shattered: -990px 0px;
	--icon-arrow-stone: -1023px 0px;
	--icon-ashes: -1056px 0px;
	--icon-aurochshair: -1089px 0px;
	--icon-autumnsteak: -1122px 0px;
	--icon-axe-m: -1155px 0px;
	--icon-bar-bronze: -1188px 0px;
	--icon-bar-castiron: 0px -33px;
	--icon-bar-copper: -33px -33px;
	--icon-bar-gold: -66px -33px;
	--icon-bar-hardmetal: -99px -33px;
	--icon-bar-rosegold: -132px -33px;
	--icon-bar-metiron: -165px -33px;
	--icon-bark-birch: -198px -33px;
	--icon-barkboat: -231px -33px;
	--icon-barkbread: -264px -33px;
	--icon-barkreinforcement: -297px -33px;
	--icon-bark: -330px -33px;
	--icon-bar-metal: -363px -33px;
	--icon-bar-preciousmetal: -396px -33px;
	--icon-bar-silver: -429px -33px;
	--icon-bar-steel: -462px -33px;
	--icon-bar-tin: -495px -33px;
	--icon-bar-toolmetal: -528px -33px;
	--icon-bar-wroughtiron: -561px -33px;
	--icon-basalt: -594px -33px;
	--icon-batcape: -627px -33px;
	--icon-bat-clean: -660px -33px;
	--icon-bathide: -693px -33px;
	--icon-bathide-blood: -726px -33px;
	--icon-batter: -759px -33px;
	--icon-batwingnecklace: -792px -33px;
	--icon-batwings: -825px -33px;
	--icon-batwingsdried: -858px -33px;
	--icon-bearfurtrimmings: -891px -33px;
	--icon-beartalman: -924px -33px;
	--icon-beartooth: -957px -33px;
	--icon-beavercrown: -990px -33px;
	--icon-beaverdelights: -1023px -33px;
	--icon-beaverfiber: -1056px -33px;
	--icon-beavergauntlets: -1089px -33px;
	--icon-beavertail: -1122px -33px;
	--icon-beaverteeth: -1155px -33px;
	--icon-beeswax: -1188px -33px;
	--icon-beeswaxcandle: 0px -66px;
	--icon-beet: -33px -66px;
	--icon-beetbird: -66px -66px;
	--icon-beethatstung: -99px -66px;
	--icon-beetleaves: -132px -66px;
	--icon-berry: -165px -66px;
	--icon-berryfruit: -198px -66px;
	--icon-birchbarkbream: -231px -66px;
	--icon-birdcherry: -264px -66px;
	--icon-birthdaycake: -297px -66px;
	--icon-blackcoal: -330px -66px;
	--icon-blackribeye: -363px -66px;
	--icon-bloom: -396px -66px;
	--icon-blubberfeast: -429px -66px;
	--icon-blueberryslice: -462px -66px;
	--icon-boartusk: -495px -66px;
	--icon-boartuskhelmet: -528px -66px;
	--icon-boneash: -561px -66px;
	--icon-bone: -594px -66px;
	--icon-boneglue: -627px -66px;
	--icon-bonegreaves: -660px -66px;
	--icon-bonemarrow: -693px -66px;
	--icon-bonepins: -726px -66px;
	--icon-borewormbeak: -759px -66px;
	--icon-borewormmask: -792px -66px;
	--icon-bough: -825px -66px;
	--icon-bouquet: -858px -66px;
	--icon-branch: -891px -66px;
	--icon-bread: -924px -66px;
	--icon-brick-acre: -957px -66px;
	--icon-brick-ball: -990px -66px;
	--icon-brick-bone: -1023px -66px;
	--icon-brick-cave: -1056px -66px;
	--icon-brick-gray: -1089px -66px;
	--icon-brick-pit: -1122px -66px;
	--icon-brimstone: -1155px -66px;
	--icon-broiledburbot: -1188px -66px;
	--icon-bronzehelm: 0px -99px;
	--icon-bronzesteed: -33px -99px;
	--icon-bullpipe: -66px -99px;
	--icon-bunny-dead: -99px -99px;
	--icon-bunnyslippers: -132px -99px;
	--icon-butcherscleaver: -165px -99px;
	--icon-butterbulb: -198px -99px;
	--icon-butter: -231px -99px;
	--icon-cakeknife: -264px -99px;
	--icon-camomilecompress: -297px -99px;
	--icon-camomiledry: -330px -99px;
	--icon-candleberrywax: -363px -99px;
	--icon-carrotcake: -396px -99px;
	--icon-carrot: -429px -99px;
	--icon-cassiterite: -462px -99px;
	--icon-castirontrivet: -495px -99px;
	--icon-catgold: -528px -99px;
	--icon-caveanglerlight: -561px -99px;
	--icon-caveanglerscales: -594px -99px;
	--icon-caveanglerscales-raw: -627px -99px;
	--icon-cavebattery: -660px -99px;
	--icon-cavecentipede: -693px -99px;
	--icon-cavecoralring: -726px -99px;
	--icon-cavedust: -759px -99px;
	--icon-cavelouseleg: -792px -99px;
	--icon-cavemoth: -825px -99px;
	--icon-cavenote: -858px -99px;
	--icon-caveslime: -891px -99px;
	--icon-centibab: -924px -99px;
	--icon-chalcopyrite: -957px -99px;
	--icon-cheese-abbaye: -990px -99px;
	--icon-cheese-brique: -1023px -99px;
	--icon-cheese-brodgarblue: -1056px -99px;
	--icon-cheese-cabrales: -1089px -99px;
	--icon-cheese-caciotta: -1122px -99px;
	--icon-cheesecake: -1155px -99px;
	--icon-cheese-cavecheddar: -1188px -99px;
	--icon-cheese-cellarcheddar: 0px -132px;
	--icon-cheese-creamycamembert: -33px -132px;
	--icon-cheese-feta: -66px -132px;
	--icon-cheese-gbejna: -99px -132px;
	--icon-cheese-genericgouda: -132px -132px;
	--icon-cheese-halloumi: -165px -132px;
	--icon-cheese-harmesan: -198px -132px;
	--icon-cheese-jorbonzola: -231px -132px;
	--icon-cheese-manchego: -264px -132px;
	--icon-cheese-midnightblue: -297px -132px;
	--icon-cheese-mothzarella: -330px -132px;
	--icon-cheese-muskymilben: -363px -132px;
	--icon-cheese-oscypki: -396px -132px;
	--icon-cheese-pecorino: -429px -132px;
	--icon-cheese-roncal: -462px -132px;
	--icon-cheese-sunlitstilton: -495px -132px;
	--icon-cheese-temmentaler: -528px -132px;
	--icon-cheese-zamorano: -561px -132px;
	--icon-chefshat: -594px -132px;
	--icon-chefspin: -627px -132px;
	--icon-cherry: -660px -132px;
	--icon-chestnut: -693px -132px;
	--icon-chestnutroast: -726px -132px;
	--icon-chick: -759px -132px;
	--icon-chick-dead: -792px -132px;
	--icon-chicken-cleaned: -825px -132px;
	--icon-chickensalad: -858px -132px;
	--icon-chiefhat: -891px -132px;
	--icon-chitinhelmet: -924px -132px;
	--icon-chitinhook: -957px -132px;
	--icon-chitinsequin: -990px -132px;
	--icon-chivetrout: -1023px -132px;
	--icon-chumbait: -1056px -132px;
	--icon-cigar: -1089px -132px;
	--icon-cinnabar: -1122px -132px;
	--icon-clambake: -1155px -132px;
	--icon-clay-acre: -1188px -132px;
	--icon-clay-ball: 0px -165px;
	--icon-clay-bone: -33px -165px;
	--icon-clay-cave: -66px -165px;
	--icon-clay: -99px -165px;
	--icon-clay-fine: -132px -165px;
	--icon-clay-gray: -165px -165px;
	--icon-clay-pit: -198px -165px;
	--icon-clay-potters: -231px -165px;
	--icon-cleancarcass: -264px -165px;
	--icon-clogs: -297px -165px;
	--icon-cloth: -330px -165px;
	--icon-clothwadding: -363px -165px;
	--icon-clue-assault: -396px -165px;
	--icon-clue-battery: -429px -165px;
	--icon-clue-murder: -462px -165px;
	--icon-clue-rummage: -495px -165px;
	--icon-clue-theft: -528px -165px;
	--icon-clue-trespass: -561px -165px;
	--icon-clue-vandal: -594px -165px;
	--icon-clue-war: -627px -165px;
	--icon-coal: -660px -165px;
	--icon-coiledropehotpad: -693px -165px;
	--icon-coins-castiron-50: -726px -165px;
	--icon-coins-copper-50: -759px -165px;
	--icon-coins-gold-50: -792px -165px;
	--icon-coins-rcp: -825px -165px;
	--icon-coins-silver-50: -858px -165px;
	--icon-coins-steel-50: -891px -165px;
	--icon-coins-tin-50: -924px -165px;
	--icon-coins-wroughtiron-50: -957px -165px;
	--icon-coldcompress: -990px -165px;
	--icon-colorblack: -1023px -165px;
	--icon-colorblue: -1056px -165px;
	--icon-colorgreen: -1089px -165px;
	--icon-colororange: -1122px -165px;
	--icon-colorpurple: -1155px -165px;
	--icon-colorred: -1188px -165px;
	--icon-colorturquoise: 0px -198px;
	--icon-colorwhite: -33px -198px;
	--icon-coloryellow: -66px -198px;
	--icon-conecow: -99px -198px;
	--icon-cone: -132px -198px;
	--icon-conegruel: -165px -198px;
	--icon-copperkettle: -198px -198px;
	--icon-copperscales: -231px -198px;
	--icon-cork: -264px -198px;
	--icon-cornbraid: -297px -198px;
	--icon-crabcakes: -330px -198px;
	--icon-crabclaw: -363px -198px;
	--icon-crabroe: -396px -198px;
	--icon-crabshell: -429px -198px;
	--icon-crabshellsunfeather: -462px -198px;
	--icon-cropseeds: -495px -198px;
	--icon-crudeidol: -528px -198px;
	--icon-cruelsplinter: -561px -198px;
	--icon-cucumbersalsa: -594px -198px;
	--icon-curd-cow: -627px -198px;
	--icon-curd: -660px -198px;
	--icon-curdnchives: -693px -198px;
	--icon-curd-sheep: -726px -198px;
	--icon-cutthroatknuckles: -759px -198px;
	--icon-cylinderhat: -792px -198px;
	--icon-darkheart: -825px -198px;
	--icon-deathchrysalis: -858px -198px;
	--icon-deepfouls: -891px -198px;
	--icon-deepfriedbird: -924px -198px;
	--icon-deepseaatavism: -957px -198px;
	--icon-die-1: -990px -198px;
	--icon-die-2: -1023px -198px;
	--icon-die-3: -1056px -198px;
	--icon-die-4: -1089px -198px;
	--icon-die-5: -1122px -198px;
	--icon-die-6: -1155px -198px;
	--icon-dolomite: -1188px -198px;
	--icon-dough-applepie: 0px -231px;
	--icon-dough-barkbread: -33px -231px;
	--icon-dough-blueberryslice: -66px -231px;
	--icon-dough-bread: -99px -231px;
	--icon-dough-carrotcake: -132px -231px;
	--icon-dough-cheesecake: -165px -231px;
	--icon-dough-eggcake: -198px -231px;
	--icon-dough-fishpie: -231px -231px;
	--icon-dough-fishwrap: -264px -231px;
	--icon-dough-fruitpie: -297px -231px;
	--icon-dough-fruitroast: -330px -231px;
	--icon-dough-greenleafpie: -363px -231px;
	--icon-dough-grubpie: -396px -231px;
	--icon-dough-honeybun: -429px -231px;
	--icon-dough-jellycake: -462px -231px;
	--icon-dough-linseedloaf: -495px -231px;
	--icon-dough-meatpie: -528px -231px;
	--icon-dough-mushroomburstglutton: -561px -231px;
	--icon-dough-nutjerky: -594px -231px;
	--icon-dough-peapie: -627px -231px;
	--icon-dough-pirozhki: -660px -231px;
	--icon-dough-pumpkinbread: -693px -231px;
	--icon-dough-pumpkinpie: -726px -231px;
	--icon-dough-raisinbuttercake: -759px -231px;
	--icon-dough-ringofbrodgar: -792px -231px;
	--icon-dough-scones: -825px -231px;
	--icon-dough-seedcrispbread: -858px -231px;
	--icon-dough-strawberrycake: -891px -231px;
	--icon-dough-wellplaicedpie: -924px -231px;
	--icon-dowrod: -957px -231px;
	--icon-dragonfly-emerald: -990px -231px;
	--icon-dragonfly-ruby: -1023px -231px;
	--icon-dragonhelm: -1056px -231px;
	--icon-dream: -1089px -231px;
	--icon-dressedsalad: -1122px -231px;
	--icon-drinkinghorn: -1155px -231px;
	--icon-druidshelm: -1188px -231px;
	--icon-earthenwareplatter: 0px -264px;
	--icon-earthenwareplatter-u: -33px -264px;
	--icon-earthworm: -66px -264px;
	--icon-easteregg0: -99px -264px;
	--icon-easteregg1: -132px -264px;
	--icon-easteregg2: -165px -264px;
	--icon-easteregg3: -198px -264px;
	--icon-eggcake: -231px -264px;
	--icon-egg-chicken-boiled: -264px -264px;
	--icon-egg-chicken: -297px -264px;
	--icon-egg-chicken-fried: -330px -264px;
	--icon-electrifiedrod: -363px -264px;
	--icon-encumberedroast: -396px -264px;
	--icon-entrails: -429px -264px;
	--icon-ernst: -462px -264px;
	--icon-escargotamour: -495px -264px;
	--icon-everglowingember: -528px -264px;
	--icon-exquisitebelt: -561px -264px;
	--icon-exquisiterot: -594px -264px;
	--icon-exquisiterotu: -627px -264px;
	--icon-extrastitch: -660px -264px;
	--icon-fairyshroom: -693px -264px;
	--icon-fancybuckle: -726px -264px;
	--icon-fatbraisedveg: -759px -264px;
	--icon-featherband: -792px -264px;
	--icon-feather-chicken: -825px -264px;
	--icon-feather: -858px -264px;
	--icon-feathergarland: -891px -264px;
	--icon-feather-magpie: -924px -264px;
	--icon-feather-mallard: -957px -264px;
	--icon-feather-ptarmigan: -990px -264px;
	--icon-feather-quail: -1023px -264px;
	--icon-featherstuffing: -1056px -264px;
	--icon-feather-swan: -1089px -264px;
	--icon-feathertrinket: -1122px -264px;
	--icon-feather-woodgrouse: -1155px -264px;
	--icon-feldspar: -1188px -264px;
	--icon-ferrysilver: 0px -297px;
	--icon-fetterbroken: -33px -297px;
	--icon-fetter: -66px -297px;
	--icon-finebone: -99px -297px;
	--icon-finebonering: -132px -297px;
	--icon-finebonetrinkets: -165px -297px;
	--icon-finefeatherbrooch: -198px -297px;
	--icon-finefeather: -231px -297px;
	--icon-firebrand: -264px -297px;
	--icon-firefly: -297px -297px;
	--icon-fish-bream: -330px -297px;
	--icon-fish-brill: -363px -297px;
	--icon-fish-chub: -396px -297px;
	--icon-fishermanshat: -429px -297px;
	--icon-fish: -462px -297px;
	--icon-fish-ide: -495px -297px;
	--icon-fishintears: -528px -297px;
	--icon-fish-mullet: -561px -297px;
	--icon-fish-paleghostfish: -594px -297px;
	--icon-fish-perch: -627px -297px;
	--icon-fishpie: -660px -297px;
	--icon-fish-plaice: -693px -297px;
	--icon-fish-pomfret: -726px -297px;
	--icon-fish-roach: -759px -297px;
	--icon-fish-ruffe: -792px -297px;
	--icon-fish-silverbream: -825px -297px;
	--icon-fish-smelt: -858px -297px;
	--icon-fishsticks: -891px -297px;
	--icon-fish-tench: -924px -297px;
	--icon-fish-whiting: -957px -297px;
	--icon-fishwrap: -990px -297px;
	--icon-fishyeyeball: -1023px -297px;
	--icon-fish-zope: -1056px -297px;
	--icon-flaxfibre: -1089px -297px;
	--icon-flaxoil: -1122px -297px;
	--icon-flint: -1155px -297px;
	--icon-flintsteel: -1188px -297px;
	--icon-flipperbone: 0px -330px;
	--icon-flour-barleyflour: -33px -330px;
	--icon-flour: -66px -330px;
	--icon-flourseeds: -99px -330px;
	--icon-flour-wheatflour: -132px -330px;
	--icon-flower: -165px -330px;
	--icon-flower-poppy: -198px -330px;
	--icon-fluorospar: -231px -330px;
	--icon-flute: -264px -330px;
	--icon-foetus: -297px -330px;
	--icon-food-beer: -330px -330px;
	--icon-food-berries: -363px -330px;
	--icon-food-bread: -396px -330px;
	--icon-food-cheese: -429px -330px;
	--icon-food-creep: -462px -330px;
	--icon-food-dairy: -495px -330px;
	--icon-food-fish: -528px -330px;
	--icon-food-food: -561px -330px;
	--icon-food-forage: -594px -330px;
	--icon-food-fruit: -627px -330px;
	--icon-food-game: -660px -330px;
	--icon-food-meat: -693px -330px;
	--icon-food-nuts: -726px -330px;
	--icon-food-offal: -759px -330px;
	--icon-food-poultry: -792px -330px;
	--icon-food-sausage: -825px -330px;
	--icon-food-shrooms: -858px -330px;
	--icon-food-tea: -891px -330px;
	--icon-food-veg: -924px -330px;
	--icon-food-wine: -957px -330px;
	--icon-foragebrooch: -990px -330px;
	--icon-forestlizard: -1023px -330px;
	--icon-forestsnail: -1056px -330px;
	--icon-forgering: -1089px -330px;
	--icon-foulsmoke: -1122px -330px;
	--icon-foxhat: -1155px -330px;
	--icon-frog: -1188px -330px;
	--icon-froglegs: 0px -363px;
	--icon-fruitpie: -33px -363px;
	--icon-fruitroast: -66px -363px;
	--icon-fruitsorbet: -99px -363px;
	--icon-fulgurite: -132px -363px;
	--icon-furboots: -165px -363px;
	--icon-galena: -198px -363px;
	--icon-garmentneedle0: -231px -363px;
	--icon-garmentneedle3: -264px -363px;
	--icon-gauze: -297px -363px;
	--icon-gems-any: -330px -363px;
	--icon-gildednautilus: -363px -363px;
	--icon-gildingleaf: -396px -363px;
	--icon-gildingrock: -429px -363px;
	--icon-glassbeads: -462px -363px;
	--icon-glass: -495px -363px;
	--icon-gluethread: -528px -363px;
	--icon-gluetroll: -561px -363px;
	--icon-gneiss: -594px -363px;
	--icon-goathorn: -627px -363px;
	--icon-goldbeaters: -660px -363px;
	--icon-goldegg: -693px -363px;
	--icon-goldencat: -726px -363px;
	--icon-goldeneagletalon: -759px -363px;
	--icon-goldentablebell: -792px -363px;
	--icon-goldentooth: -825px -363px;
	--icon-goldplate: -858px -363px;
	--icon-grandbelt: -891px -363px;
	--icon-granite: -924px -363px;
	--icon-grapes: -957px -363px;
	--icon-grasshopper: -990px -363px;
	--icon-greasedjoints: -1023px -363px;
	--icon-greatwaxseal: -1056px -363px;
	--icon-greenleafpie: -1089px -363px;
	--icon-greenmanmask: -1122px -363px;
	--icon-greentunic: -1155px -363px;
	--icon-grist: -1188px -363px;
	--icon-grist-barleygrist: 0px -396px;
	--icon-grist-wheatgrist: -33px -396px;
	--icon-grub: -66px -396px;
	--icon-grubpie: -99px -396px;
	--icon-gscent: -132px -396px;
	--icon-guano: -165px -396px;
	--icon-guardpatch: -198px -396px;
	--icon-handimpression: -231px -396px;
	--icon-handimpression-u: -264px -396px;
	--icon-hanky: -297px -396px;
	--icon-hardenedleather: -330px -396px;
	--icon-hardhat: -363px -396px;
	--icon-hardmetalcutlery: -396px -396px;
	--icon-hardmetalrivets: -429px -396px;
	--icon-harmonica: -462px -396px;
	--icon-hartshorn: -495px -396px;
	--icon-hartshornsalve: -528px -396px;
	--icon-hazelnut: -561px -396px;
	--icon-hedgehoghide-blood: -594px -396px;
	--icon-hedgehoghide: -627px -396px;
	--icon-hedgehogquills: -660px -396px;
	--icon-heirloom: -693px -396px;
	--icon-hematite: -726px -396px;
	--icon-hempcloth: -759px -396px;
	--icon-hemp-cured: -792px -396px;
	--icon-hempfibre: -825px -396px;
	--icon-hemp-fresh: -858px -396px;
	--icon-hemppants: -891px -396px;
	--icon-hempshirt: -924px -396px;
	--icon-heraldicape: -957px -396px;
	--icon-herbs-baybolete: -990px -396px;
	--icon-herbs-blacktrumpet: -1023px -396px;
	--icon-herbs-bloatedbolete: -1056px -396px;
	--icon-herbs-bloodstern: -1089px -396px;
	--icon-herbs-blueberry: -1122px -396px;
	--icon-herbs-camomile: -1155px -396px;
	--icon-herbs-candleberry: -1188px -396px;
	--icon-herbs-cattailfibre: 0px -429px;
	--icon-herbs-cattailhead: -33px -429px;
	--icon-herbs-cattailroots: -66px -429px;
	--icon-herbs-cavebulb: -99px -429px;
	--icon-herbs-cavecoral: -132px -429px;
	--icon-herbs-cavelantern: -165px -429px;
	--icon-herbs-chantrelle: -198px -429px;
	--icon-herbs-chimingbluebell: -231px -429px;
	--icon-herbs-chives: -264px -429px;
	--icon-herbs-clover: -297px -429px;
	--icon-herbs-commonstarfish: -330px -429px;
	--icon-herbs-dandelion: -363px -429px;
	--icon-herbs-dill: -396px -429px;
	--icon-herbs-edelweiss: -429px -429px;
	--icon-herbs-flotsam: -462px -429px;
	--icon-herbs-fourleafclover: -495px -429px;
	--icon-herbs-frogscrown: -528px -429px;
	--icon-herbs-frogspawn: -561px -429px;
	--icon-herbs-giantpuffball: -594px -429px;
	--icon-herbs-glimmermoss: -627px -429px;
	--icon-herbs-goosebarnacle: -660px -429px;
	--icon-herbs-greenkelp: -693px -429px;
	--icon-herbs-kvann: -726px -429px;
	--icon-herbs-ladysmantledew: -759px -429px;
	--icon-herbs-ladysmantle: -792px -429px;
	--icon-herbs-lampstalk: -825px -429px;
	--icon-herbs-lingon: -858px -429px;
	--icon-herbs-lorchel: -891px -429px;
	--icon-herbs-mandrake: -924px -429px;
	--icon-herbs-mistletoe: -957px -429px;
	--icon-herbs-mussels: -990px -429px;
	--icon-herbs-parasolshroom: -1023px -429px;
	--icon-herbs-royaltoadstool: -1056px -429px;
	--icon-herbs-rustroot: -1089px -429px;
	--icon-herbs-seashell: -1122px -429px;
	--icon-herbs-spindlytaproot: -1155px -429px;
	--icon-herbs-stalagoom: -1188px -429px;
	--icon-herbs-stingingnettle: 0px -462px;
	--icon-herbs-strawberry: -33px -462px;
	--icon-herbs-vrakgods: -66px -462px;
	--icon-herbs-waybroad: -99px -462px;
	--icon-herbs-windweed: -132px -462px;
	--icon-herbs-yarrow: -165px -462px;
	--icon-herbs-yellowfoot: -198px -462px;
	--icon-herminecape: -231px -462px;
	--icon-hide: -264px -462px;
	--icon-hidelayer: -297px -462px;
	--icon-hidestrap: -330px -462px;
	--icon-hirdhelmet: -363px -462px;
	--icon-hirdsmanscape: -396px -462px;
	--icon-honeybear: -429px -462px;
	--icon-honeybroadaid: -462px -462px;
	--icon-honeybun: -495px -462px;
	--icon-honey: -528px -462px;
	--icon-hook-bone: -561px -462px;
	--icon-hook-gold: -594px -462px;
	--icon-hook-metal: -627px -462px;
	--icon-hopcones: -660px -462px;
	--icon-hopcones-l: -693px -462px;
	--icon-hoppedcow: -726px -462px;
	--icon-hornblende: -759px -462px;
	--icon-hornsilver: -792px -462px;
	--icon-horribleknot: -825px -462px;
	--icon-hotwings: -858px -462px;
	--icon-hpatch-aurochs: -891px -462px;
	--icon-hpatch-badger: -924px -462px;
	--icon-hpatch-bear: -957px -462px;
	--icon-hpatch-boar: -990px -462px;
	--icon-hpatch-cow: -1023px -462px;
	--icon-hpatch-fox: -1056px -462px;
	--icon-hpatch-greyseal: -1089px -462px;
	--icon-hpatch-horse: -1122px -462px;
	--icon-hpatch-lynx: -1155px -462px;
	--icon-hpatch-mammoth: -1188px -462px;
	--icon-hpatch-moose: 0px -495px;
	--icon-hpatch-mouflon: -33px -495px;
	--icon-hpatch-pig: -66px -495px;
	--icon-hpatch-reddeer: -99px -495px;
	--icon-hpatch-sheep: -132px -495px;
	--icon-hpatch-wildhorse: -165px -495px;
	--icon-huntersbelt: -198px -495px;
	--icon-huntersshirt: -231px -495px;
	--icon-ilmenite: -264px -495px;
	--icon-intestines: -297px -495px;
	--icon-intestines-m: -330px -495px;
	--icon-irrbloss: -363px -495px;
	--icon-itsybitsyspider: -396px -495px;
	--icon-itsybitsysweb: -429px -495px;
	--icon-ivoryfigurine: -462px -495px;
	--icon-jar: -495px -495px;
	--icon-jar-rustjuice: -528px -495px;
	--icon-jar-u: -561px -495px;
	--icon-jewhat: -594px -495px;
	--icon-jotunmorsel: -627px -495px;
	--icon-kelpcream: -660px -495px;
	--icon-kuksa: -693px -495px;
	--icon-kyanite: -726px -495px;
	--icon-ladybug: -759px -495px;
	--icon-lantern: -792px -495px;
	--icon-laurelwreath: -825px -495px;
	--icon-lawhat: -858px -495px;
	--icon-leaf-conkertree: -891px -495px;
	--icon-leaf-heartwood: -924px -495px;
	--icon-leaf-laurel: -957px -495px;
	--icon-leaf: -990px -495px;
	--icon-leaf-maple: -1023px -495px;
	--icon-leaf-mulberrytree: -1056px -495px;
	--icon-leatherball: -1089px -495px;
	--icon-leatherboots: -1122px -495px;
	--icon-leathercoaster: -1155px -495px;
	--icon-leatherfabric: -1188px -495px;
	--icon-leather: 0px -528px;
	--icon-leatherpatch: -33px -528px;
	--icon-leatherpurse: -66px -528px;
	--icon-leechbloat: -99px -528px;
	--icon-leech: -132px -528px;
	--icon-leprechaunshat: -165px -528px;
	--icon-lettuceleaf: -198px -528px;
	--icon-limestone: -231px -528px;
	--icon-limonite: -264px -528px;
	--icon-linencloth: -297px -528px;
	--icon-linennapkin: -330px -528px;
	--icon-linenpants: -363px -528px;
	--icon-linenshirt: -396px -528px;
	--icon-linkhat: -429px -528px;
	--icon-linseedloaf: -462px -528px;
	--icon-liveronions: -495px -528px;
	--icon-lizardonscales: -528px -528px;
	--icon-lorcheldried: -561px -528px;
	--icon-lorchelwet: -594px -528px;
	--icon-lotusbloom: -627px -528px;
	--icon-luckyrabbits-dry: -660px -528px;
	--icon-luckyrabbits: -693px -528px;
	--icon-lure-copperbrushsnapper: -726px -528px;
	--icon-lure-coppercomet: -759px -528px;
	--icon-lure-featherfly: -792px -528px;
	--icon-lure-goldspoon: -825px -528px;
	--icon-lure-pineconeplug: -858px -528px;
	--icon-lure-poppywobbler: -891px -528px;
	--icon-lure-rocklobster: -924px -528px;
	--icon-lure-steelbrush: -957px -528px;
	--icon-lure-tinfly: -990px -528px;
	--icon-lure-woodfish: -1023px -528px;
	--icon-lynxclaws: -1056px -528px;
	--icon-magnetite: -1089px -528px;
	--icon-magnifyingglass: -1122px -528px;
	--icon-magpieclaw: -1155px -528px;
	--icon-magpie-cleaned: -1188px -528px;
	--icon-magpie-dead: 0px -561px;
	--icon-magpie-plucked: -33px -561px;
	--icon-malachite: -66px -561px;
	--icon-mallard-cleaned: -99px -561px;
	--icon-malt: -132px -561px;
	--icon-marble: -165px -561px;
	--icon-marbles: -198px -561px;
	--icon-marrowroast: -231px -561px;
	--icon-matchbox: -264px -561px;
	--icon-meatpie: -297px -561px;
	--icon-meat: -330px -561px;
	--icon-meat-crust: -363px -561px;
	--icon-meat-filet: -396px -561px;
	--icon-meatinjelly: -429px -561px;
	--icon-meat-poultry: -462px -561px;
	--icon-meat-raw: -495px -561px;
	--icon-meat-rfilet: -528px -561px;
	--icon-meat-roast: -561px -561px;
	--icon-meat-rpoultry: -594px -561px;
	--icon-meat-rweird: -627px -561px;
	--icon-meat-spoultry: -660px -561px;
	--icon-meat-sweird: -693px -561px;
	--icon-meat-spitroast: -726px -561px;
	--icon-meat-sfilet: -759px -561px;
	--icon-meat-testis: -792px -561px;
	--icon-meat-testis-r: -825px -561px;
	--icon-meat-weird: -858px -561px;
	--icon-meat-abyssgazer: -891px -561px;
	--icon-meat-adder: -924px -561px;
	--icon-meat-ant: -957px -561px;
	--icon-meat-asp: -990px -561px;
	--icon-meat-aurochs: -1023px -561px;
	--icon-meat-badger: -1056px -561px;
	--icon-meat-bass: -1089px -561px;
	--icon-meat-bat: -1122px -561px;
	--icon-meat-bear: -1155px -561px;
	--icon-meat-beaver: -1188px -561px;
	--icon-meat-beef: 0px -594px;
	--icon-meat-boar: -33px -594px;
	--icon-meat-boreworm: -66px -594px;
	--icon-meat-bream: -99px -594px;
	--icon-meat-brill: -132px -594px;
	--icon-meat-burbot: -165px -594px;
	--icon-meat-carp: -198px -594px;
	--icon-meat-catfish: -231px -594px;
	--icon-meat-caveangler: -264px -594px;
	--icon-meat-cavelacanth: -297px -594px;
	--icon-meat-cavesculpin: -330px -594px;
	--icon-meat-cavelouse: -363px -594px;
	--icon-meat-chasmconch: -396px -594px;
	--icon-meat-chicken: -429px -594px;
	--icon-meat-chub: -462px -594px;
	--icon-meat-cod: -495px -594px;
	--icon-meat-cow: -528px -594px;
	--icon-meat-crab: -561px -594px;
	--icon-meat-eagleowl: -594px -594px;
	--icon-meat-eel: -627px -594px;
	--icon-meat-fox: -660px -594px;
	--icon-meat-goat: -693px -594px;
	--icon-meat-goldeneagle: -726px -594px;
	--icon-meat-grayling: -759px -594px;
	--icon-meat-greyseal: -792px -594px;
	--icon-meat-haddock: -825px -594px;
	--icon-meat-hedgehog: -858px -594px;
	--icon-meat-herring: -891px -594px;
	--icon-meat-horse: -924px -594px;
	--icon-meat-ide: -957px -594px;
	--icon-meat-lavaret: -990px -594px;
	--icon-meat-lynx: -1023px -594px;
	--icon-meat-mackerel: -1056px -594px;
	--icon-meat-magpie: -1089px -594px;
	--icon-meat-mallard: -1122px -594px;
	--icon-meat-mammoth: -1155px -594px;
	--icon-meat-mole: -1188px -594px;
	--icon-meat-moose: 0px -627px;
	--icon-meat-mouflon: -33px -627px;
	--icon-meat-mullet: -66px -627px;
	--icon-meat-mutton: -99px -627px;
	--icon-meat-otter: -132px -627px;
	--icon-meat-paleghostfish: -165px -627px;
	--icon-meat-perch: -198px -627px;
	--icon-meat-pig: -231px -627px;
	--icon-meat-pike: -264px -627px;
	--icon-meat-plaice: -297px -627px;
	--icon-meat-pomfret: -330px -627px;
	--icon-meat-pork: -363px -627px;
	--icon-meat-ptarmigan: -396px -627px;
	--icon-meat-quail: -429px -627px;
	--icon-meat-rabbit: -462px -627px;
	--icon-meat-reddeer: -495px -627px;
	--icon-meat-reindeer: -528px -627px;
	--icon-meat-roach: -561px -627px;
	--icon-meat-rosefish: -594px -627px;
	--icon-meat-ruffe: -627px -627px;
	--icon-meat-saithe: -660px -627px;
	--icon-meat-salmon: -693px -627px;
	--icon-meat-seagull: -726px -627px;
	--icon-meat-sheep: -759px -627px;
	--icon-meat-silverbream: -792px -627px;
	--icon-meat-smelt: -825px -627px;
	--icon-meat-squirrel: -858px -627px;
	--icon-meat-sturgeon: -891px -627px;
	--icon-meat-swan: -924px -627px;
	--icon-meat-tench: -957px -627px;
	--icon-meat-troll: -990px -627px;
	--icon-meat-trout: -1023px -627px;
	--icon-meat-walrus: -1056px -627px;
	--icon-meat-whiting: -1089px -627px;
	--icon-meat-wildgoat: -1122px -627px;
	--icon-meat-wildhorse: -1155px -627px;
	--icon-meat-wolf: -1188px -627px;
	--icon-meat-wolverine: 0px -660px;
	--icon-meat-woodgrouse: -33px -660px;
	--icon-meat-zander: -66px -660px;
	--icon-meat-zope: -99px -660px;
	--icon-medlar: -132px -660px;
	--icon-medlarseed: -165px -660px;
	--icon-merchantspants: -198px -660px;
	--icon-merchantsring: -231px -660px;
	--icon-mercury: -264px -660px;
	--icon-metalbuttons: -297px -660px;
	--icon-metalmug-full: -330px -660px;
	--icon-metalmug: -363px -660px;
	--icon-metalplate: -396px -660px;
	--icon-metalsaucier: -429px -660px;
	--icon-milk: -462px -660px;
	--icon-minershelm-c: -495px -660px;
	--icon-minershelm: -528px -660px;
	--icon-mirkwoodoffering: -561px -660px;
	--icon-mole-carcass: -594px -660px;
	--icon-mole-clean: -627px -660px;
	--icon-mole-dead: -660px -660px;
	--icon-molehide-blood: -693px -660px;
	--icon-molehide: -726px -660px;
	--icon-molehidepants: -759px -660px;
	--icon-molehill: -792px -660px;
	--icon-molepaw: -825px -660px;
	--icon-monarchbutterfly: -858px -660px;
	--icon-monocle: -891px -660px;
	--icon-mooseantlerbuttons: -924px -660px;
	--icon-motherofpearl: -957px -660px;
	--icon-mudointment: -990px -660px;
	--icon-mug-full: -1023px -660px;
	--icon-mug: -1056px -660px;
	--icon-mug-u: -1089px -660px;
	--icon-mulberry: -1122px -660px;
	--icon-mulch: -1155px -660px;
	--icon-mushroommash: -1188px -660px;
	--icon-musselsboiled: 0px -693px;
	--icon-nagyagite: -33px -693px;
	--icon-nettlepants: -66px -693px;
	--icon-nettleshirt: -99px -693px;
	--icon-newsboyscap: -132px -693px;
	--icon-ninetails: -165px -693px;
	--icon-nugget-bronze: -198px -693px;
	--icon-nugget-castiron: -231px -693px;
	--icon-nugget-copper: -264px -693px;
	--icon-nugget-gold: -297px -693px;
	--icon-nugget-hardmetal: -330px -693px;
	--icon-nugget-metal: -363px -693px;
	--icon-nugget-preciousmetal: -396px -693px;
	--icon-nugget-rosegold: -429px -693px;
	--icon-nugget-silver: -462px -693px;
	--icon-nugget-steel: -495px -693px;
	--icon-nugget-tin: -528px -693px;
	--icon-nugget-toolmetal: -561px -693px;
	--icon-nugget-wroughtiron: -594px -693px;
	--icon-nugget-metiron: -627px -693px;
	--icon-nutjerky: -660px -693px;
	--icon-nut: -693px -693px;
	--icon-oakapple: -726px -693px;
	--icon-oakspire: -759px -693px;
	--icon-occultring: -792px -693px;
	--icon-oddhoneycomb: -825px -693px;
	--icon-oddtuber: -858px -693px;
	--icon-oldboot-l: -891px -693px;
	--icon-oldboot-r: -924px -693px;
	--icon-oldboots: -957px -693px;
	--icon-olive: -990px -693px;
	--icon-olivine: -1023px -693px;
	--icon-omelette: -1056px -693px;
	--icon-onionedescargot: -1089px -693px;
	--icon-onion: -1122px -693px;
	--icon-onionrings: -1155px -693px;
	--icon-onionsalad: -1188px -693px;
	--icon-onionskewer: 0px -726px;
	--icon-opium: -33px -726px;
	--icon-ore-iron: -66px -726px;
	--icon-ouroboros: -99px -726px;
	--icon-pancake-citrouille: -132px -726px;
	--icon-pancake-noisette: -165px -726px;
	--icon-pancake: -198px -726px;
	--icon-pancake-pommace: -231px -726px;
	--icon-pancake-sacrebleu: -264px -726px;
	--icon-parchment: -297px -726px;
	--icon-patternbroid: -330px -726px;
	--icon-peapie: -363px -726px;
	--icon-peapod: -396px -726px;
	--icon-pearlnecklace: -429px -726px;
	--icon-pear: -462px -726px;
	--icon-pebble-gold: -495px -726px;
	--icon-pepper: -528px -726px;
	--icon-peppercorn: -561px -726px;
	--icon-pepperdrupeboiled: -594px -726px;
	--icon-pepperdrupedried: -627px -726px;
	--icon-peppermill: -660px -726px;
	--icon-peppershaker: -693px -726px;
	--icon-perchedperch: -726px -726px;
	--icon-perfecthole: -759px -726px;
	--icon-persimmon: -792px -726px;
	--icon-petraglyph: -825px -726px;
	--icon-petrifiedshell: -858px -726px;
	--icon-petzite: -891px -726px;
	--icon-pipe-clay: -924px -726px;
	--icon-pipe-clay-u: -957px -726px;
	--icon-pirozhki: -990px -726px;
	--icon-plantfibre: -1023px -726px;
	--icon-plateboots: -1056px -726px;
	--icon-plategauntlets: -1089px -726px;
	--icon-platehelmet: -1122px -726px;
	--icon-plumbbob: -1155px -726px;
	--icon-plum: -1188px -726px;
	--icon-plushbat: 0px -759px;
	--icon-poachedwolverine: -33px -759px;
	--icon-polishedbeads: -66px -759px;
	--icon-poormansbelt: -99px -759px;
	--icon-poormansgloves: -132px -759px;
	--icon-poppycapss: -165px -759px;
	--icon-poppygarland: -198px -759px;
	--icon-poppygrist: -231px -759px;
	--icon-poppypodd: -264px -759px;
	--icon-poppypod: -297px -759px;
	--icon-porcelainplate: -330px -759px;
	--icon-porcelainplate-u: -363px -759px;
	--icon-porphyry: -396px -759px;
	--icon-porridge: -429px -759px;
	--icon-poultry: -462px -759px;
	--icon-preciousdetails: -495px -759px;
	--icon-prephide: -528px -759px;
	--icon-prism: -561px -759px;
	--icon-ptarmigan-cleaned: -594px -759px;
	--icon-ptarmigan-dead: -627px -759px;
	--icon-ptarmigan-plucked: -660px -759px;
	--icon-ptarmigan: -693px -759px;
	--icon-pumpkinbread: -726px -759px;
	--icon-pumpkinflesh: -759px -759px;
	--icon-pumpkinpie: -792px -759px;
	--icon-pyritespark: -825px -759px;
	--icon-quail-cleaned: -858px -759px;
	--icon-quail-dead: -891px -759px;
	--icon-quail-plucked: -924px -759px;
	--icon-quail: -957px -759px;
	--icon-quartz: -990px -759px;
	--icon-quincecore: -1023px -759px;
	--icon-quince: -1056px -759px;
	--icon-rabbitfood: -1089px -759px;
	--icon-rabbithide-blood: -1122px -759px;
	--icon-rabbithide: -1155px -759px;
	--icon-raiderscap: -1188px -759px;
	--icon-rainbowshellamulet: 0px -792px;
	--icon-raisinbuttercake: -33px -792px;
	--icon-raisins: -66px -792px;
	--icon-rangersboots: -99px -792px;
	--icon-rangerspants: -132px -792px;
	--icon-rangersshirt: -165px -792px;
	--icon-rat: -198px -792px;
	--icon-ratstick: -231px -792px;
	--icon-rawmeats: -264px -792px;
	--icon-redonion: -297px -792px;
	--icon-redshredsalad: -330px -792px;
	--icon-reinforcedhem: -363px -792px;
	--icon-rennet: -396px -792px;
	--icon-ringofbrodgar: -429px -792px;
	--icon-riverpearl: -462px -792px;
	--icon-oysterpearl: -495px -792px;
	--icon-roachwrap: -528px -792px;
	--icon-roasthopper: -561px -792px;
	--icon-robring: -594px -792px;
	--icon-robsea: -627px -792px;
	--icon-rockcrystal: -660px -792px;
	--icon-rootfill: -693px -792px;
	--icon-rowanberry: -726px -792px;
	--icon-royalant: -759px -792px;
	--icon-royalcrown: -792px -792px;
	--icon-salad: -825px -792px;
	--icon-saltcrystal: -858px -792px;
	--icon-sand: -891px -792px;
	--icon-sandstone: -924px -792px;
	--icon-scentgland: -957px -792px;
	--icon-schist: -990px -792px;
	--icon-scones: -1023px -792px;
	--icon-sealburger: -1056px -792px;
	--icon-sealskinpants: -1089px -792px;
	--icon-seed-alder: -1122px -792px;
	--icon-seed-arrowwood: -1155px -792px;
	--icon-seed-ash: -1188px -792px;
	--icon-seed-aspen: 0px -825px;
	--icon-seed-barley: -33px -825px;
	--icon-seed-barleygerm: -66px -825px;
	--icon-seed-barleymalt: -99px -825px;
	--icon-seed-baywillow: -132px -825px;
	--icon-seed-beech: -165px -825px;
	--icon-seed-birch: -198px -825px;
	--icon-seed-blackberrybush: -231px -825px;
	--icon-seed-blackcurrant: -264px -825px;
	--icon-seed-blackthorn: -297px -825px;
	--icon-seed-bogmyrtle: -330px -825px;
	--icon-seed-boxwood: -363px -825px;
	--icon-seed-bsnightshade: -396px -825px;
	--icon-seed-buckthorn: -429px -825px;
	--icon-seed-caprifole: -462px -825px;
	--icon-seed-carrot: -495px -825px;
	--icon-seed-cedar: -528px -825px;
	--icon-seed-cherry: -561px -825px;
	--icon-seed-conkertree: -594px -825px;
	--icon-seed-crabappletree: -627px -825px;
	--icon-seed-crampbark: -660px -825px;
	--icon-seed-cucumber: -693px -825px;
	--icon-seed-cypress: -726px -825px;
	--icon-seed-dogrose: -759px -825px;
	--icon-seed-elderberrybush: -792px -825px;
	--icon-seed-elm: -825px -825px;
	--icon-seed-fir: -858px -825px;
	--icon-seed-flax: -891px -825px;
	--icon-seed-goldenchain: -924px -825px;
	--icon-seed-gooseberrybush: -957px -825px;
	--icon-seed-gorse: -990px -825px;
	--icon-seed-grape: -1023px -825px;
	--icon-seed-hawthorn: -1056px -825px;
	--icon-seed-hemp: -1089px -825px;
	--icon-seed-holly: -1122px -825px;
	--icon-seed-hornbeam: -1155px -825px;
	--icon-seed-juniper: -1188px -825px;
	--icon-seed-kingsoak: 0px -858px;
	--icon-seed-larch: -33px -858px;
	--icon-seed-laurel: -66px -858px;
	--icon-seed-lettuce: -99px -858px;
	--icon-seed-linden: -132px -858px;
	--icon-seed-maple: -165px -858px;
	--icon-seed-oak: -198px -858px;
	--icon-seed-olive: -231px -858px;
	--icon-seed-pear: -264px -858px;
	--icon-seed-pine: -297px -858px;
	--icon-seed-pipeweed: -330px -858px;
	--icon-seed-planetree: -363px -858px;
	--icon-seed-plum: -396px -858px;
	--icon-seed-poplar: -429px -858px;
	--icon-seed-poppy: -462px -858px;
	--icon-seed-pumpkin: -495px -858px;
	--icon-seed-raspberrybush: -528px -858px;
	--icon-seed-redcurrant: -561px -858px;
	--icon-seed-sallow: -594px -858px;
	--icon-seed-sandthorn: -627px -858px;
	--icon-seed-spindlebush: -660px -858px;
	--icon-seed-spruce: -693px -858px;
	--icon-seed-sweetgum: -726px -858px;
	--icon-seed-teabush: -759px -858px;
	--icon-seed-terebinth: -792px -858px;
	--icon-seed-tibast: -825px -858px;
	--icon-seed-towercap: -858px -858px;
	--icon-seed-treeheath: -891px -858px;
	--icon-seed-tundrarose: -924px -858px;
	--icon-seed-wheatgerm: -957px -858px;
	--icon-seed-wheatmalt: -990px -858px;
	--icon-seed-wheat: -1023px -858px;
	--icon-seed-willow: -1056px -858px;
	--icon-seed-witherstand: -1089px -858px;
	--icon-seed-woodbine: -1122px -858px;
	--icon-seed-yew: -1155px -858px;
	--icon-seersbowl: -1188px -858px;
	--icon-seersspindle: 0px -891px;
	--icon-seersstones: -33px -891px;
	--icon-seerstea: -66px -891px;
	--icon-sfat: -99px -891px;
	--icon-sherlockhat: -132px -891px;
	--icon-shipwreckbuttons: -165px -891px;
	--icon-shroom: -198px -891px;
	--icon-silkcloth: -231px -891px;
	--icon-silkcocoon: -264px -891px;
	--icon-silkegg: -297px -891px;
	--icon-silkenribbon: -330px -891px;
	--icon-silkfilament: -363px -891px;
	--icon-silkmoth-f: -396px -891px;
	--icon-silkmoth-m: -429px -891px;
	--icon-silknapkin: -462px -891px;
	--icon-silkspunseam: -495px -891px;
	--icon-silkthread: -528px -891px;
	--icon-silkworm: -561px -891px;
	--icon-silvercutlery: -594px -891px;
	--icon-silverrivercutlery: -627px -891px;
	--icon-silverrivergoblet: -660px -891px;
	--icon-silverrose: -693px -891px;
	--icon-skullcup: -726px -891px;
	--icon-skull: -759px -891px;
	--icon-skull-u: -792px -891px;
	--icon-skullz: -825px -891px;
	--icon-slag: -858px -891px;
	--icon-sling: -891px -891px;
	--icon-slinky: -924px -891px;
	--icon-small-antlers-moose: -957px -891px;
	--icon-small-ashenrobe: -990px -891px;
	--icon-small-b12axe: -1023px -891px;
	--icon-small-backpack-birch: -1056px -891px;
	--icon-small-backpack-leather: -1089px -891px;
	--icon-small-badgerhide: -1122px -891px;
	--icon-small-badgervest: -1155px -891px;
	--icon-small-bagpipe: -1188px -891px;
	--icon-small-battlestandard: 0px -924px;
	--icon-small-bear: -33px -924px;
	--icon-small-bearcape: -66px -924px;
	--icon-small-bearcoat: -99px -924px;
	--icon-small-bearhide: -132px -924px;
	--icon-small-beaverhide: -165px -924px;
	--icon-small-bladderwrack: -198px -924px;
	--icon-small-boar: -231px -924px;
	--icon-small-board: -264px -924px;
	--icon-small-boarhide: -297px -924px;
	--icon-small-boarspear: -330px -924px;
	--icon-small-bonesaw: -363px -924px;
	--icon-small-bough-spruce: -396px -924px;
	--icon-small-bronzeplate: -429px -924px;
	--icon-small-bronzesword: -462px -924px;
	--icon-small-bucket-barley: -495px -924px;
	--icon-small-bucket-barleyflour: -528px -924px;
	--icon-small-bucket-beer: -561px -924px;
	--icon-small-bucket: -594px -924px;
	--icon-small-bucket-carrot: -627px -924px;
	--icon-small-bucket-cucumber: -660px -924px;
	--icon-small-bucket-flax: -693px -924px;
	--icon-small-bucket-flaxoil: -726px -924px;
	--icon-small-bucket-grape: -759px -924px;
	--icon-small-bucket-grapejuice: -792px -924px;
	--icon-small-bucket-grist: -825px -924px;
	--icon-small-bucket-hemp: -858px -924px;
	--icon-small-bucket-honey: -891px -924px;
	--icon-small-bucket-milk: -924px -924px;
	--icon-small-bucket-pipeweed: -957px -924px;
	--icon-small-bucket-poppy: -990px -924px;
	--icon-small-bucket-pumpkin: -1023px -924px;
	--icon-small-bucket-rennet: -1056px -924px;
	--icon-small-bucket-swill: -1089px -924px;
	--icon-small-bucket-tanfluid: -1122px -924px;
	--icon-small-bucket-tar: -1155px -924px;
	--icon-small-bucket-tea: -1188px -924px;
	--icon-small-bucket-vinegar: 0px -957px;
	--icon-small-bucket-water: -33px -957px;
	--icon-small-bucket-wheatflour: -66px -957px;
	--icon-small-bucket-wine: -99px -957px;
	--icon-small-bucket-wort: -132px -957px;
	--icon-small-bumling: -165px -957px;
	--icon-small-bush: -198px -957px;
	--icon-small-bushpole: -231px -957px;
	--icon-small-bushpole-h: -264px -957px;
	--icon-small-bushpole-l: -297px -957px;
	--icon-small-carpet: -330px -957px;
	--icon-small-chainmailshirt: -363px -957px;
	--icon-small-cheesetray: -396px -957px;
	--icon-small-cornucopia: -429px -957px;
	--icon-small-cowhide: -462px -957px;
	--icon-small-crab: -495px -957px;
	--icon-small-creamycock: -528px -957px;
	--icon-small-cucumber: -561px -957px;
	--icon-small-cutthroatcuirass: -594px -957px;
	--icon-small-darkeffigy: -627px -957px;
	--icon-small-dcloak: -660px -957px;
	--icon-small-drum: -693px -957px;
	--icon-small-enthronedtoad: -726px -957px;
	--icon-small-featherduster: -759px -957px;
	--icon-small-fiddle: -792px -957px;
	--icon-small-fish-asp: -825px -957px;
	--icon-small-fish-burbot: -858px -957px;
	--icon-small-fish-carp: -891px -957px;
	--icon-small-fish-catfish: -924px -957px;
	--icon-small-fish-eel: -957px -957px;
	--icon-small-fish-grayling: -990px -957px;
	--icon-small-fish-lavaret: -1023px -957px;
	--icon-small-fish-pike: -1056px -957px;
	--icon-small-fish-salmon: -1089px -957px;
	--icon-small-fish-sturgeon: -1122px -957px;
	--icon-small-fish-trout: -1155px -957px;
	--icon-small-fish-zander: -1188px -957px;
	--icon-small-fossilcollection: 0px -990px;
	--icon-small-foxhide: -33px -990px;
	--icon-small-fryingpan: -66px -990px;
	--icon-small-furcloak: -99px -990px;
	--icon-small-fyrdsword: -132px -990px;
	--icon-small-gardenpot: -165px -990px;
	--icon-small-gift-yule: -198px -990px;
	--icon-small-goatmask: -231px -990px;
	--icon-small-grandharuspex: -264px -990px;
	--icon-small-greysealhide: -297px -990px;
	--icon-small-heartcontainer: -330px -990px;
	--icon-small-hemptablecloth: -363px -990px;
	--icon-small-herminecloak: -396px -990px;
	--icon-small-hidecloak: -429px -990px;
	--icon-small-hirdsword: -462px -990px;
	--icon-small-horsehide: -495px -990px;
	--icon-small-huntersbow: -528px -990px;
	--icon-small-huntersquiver-e: -561px -990px;
	--icon-small-huntersquiver: -594px -990px;
	--icon-small-hussarwings: -627px -990px;
	--icon-small-jackomask: -660px -990px;
	--icon-small-kozhukh: -693px -990px;
	--icon-small-lawrobe: -726px -990px;
	--icon-small-leatherarmor: -759px -990px;
	--icon-small-leathercoat: -792px -990px;
	--icon-small-leatherpants: -825px -990px;
	--icon-small-leathertablecloth: -858px -990px;
	--icon-small-leek: -891px -990px;
	--icon-small-lettucehead: -924px -990px;
	--icon-small-linentablecloth: -957px -990px;
	--icon-small-log: -990px -990px;
	--icon-small-lute: -1023px -990px;
	--icon-small-lynxcape: -1056px -990px;
	--icon-small-lynxhide: -1089px -990px;
	--icon-small-mammothhide: -1122px -990px;
	--icon-small-mammothtusk: -1155px -990px;
	--icon-small-merchantsrobe: -1188px -990px;
	--icon-small-moosehidejacket: 0px -1023px;
	--icon-small-moosehide: -33px -1023px;
	--icon-small-moose: -66px -1023px;
	--icon-small-mouflonhide: -99px -1023px;
	--icon-small-onionbraid: -132px -1023px;
	--icon-small-otterhide: -165px -1023px;
	--icon-small-packrack: -198px -1023px;
	--icon-small-painting: -231px -1023px;
	--icon-small-pickaxe: -264px -1023px;
	--icon-small-pickingbasket-f: -297px -1023px;
	--icon-small-pickingbasket: -330px -1023px;
	--icon-small-plategreaves: -363px -1023px;
	--icon-small-platemail: -396px -1023px;
	--icon-small-poormansbelt: -429px -1023px;
	--icon-small-pot: -462px -1023px;
	--icon-small-primitivedoll: -495px -1023px;
	--icon-small-primrod-h: -528px -1023px;
	--icon-small-primrod-l: -561px -1023px;
	--icon-small-primrod: -594px -1023px;
	--icon-small-protestsign: -627px -1023px;
	--icon-small-pumpkin: -660px -1023px;
	--icon-small-rangerscape: -693px -1023px;
	--icon-small-rattletattle: -726px -1023px;
	--icon-small-reddeerhide: -759px -1023px;
	--icon-small-reddeer: -792px -1023px;
	--icon-small-redgown: -825px -1023px;
	--icon-small-reindeercape: -858px -1023px;
	--icon-small-reindeerhide: -891px -1023px;
	--icon-small-roastspit: -924px -1023px;
	--icon-small-rooster-dead: -957px -1023px;
	--icon-small-rope: -990px -1023px;
	--icon-small-roundshield: -1023px -1023px;
	--icon-small-saddlebags: -1056px -1023px;
	--icon-small-sandcastle: -1089px -1023px;
	--icon-small-saw-m: -1122px -1023px;
	--icon-small-scythe: -1155px -1023px;
	--icon-small-seersbones: -1188px -1023px;
	--icon-small-sheepskin: 0px -1056px;
	--icon-small-shovel-m: -33px -1056px;
	--icon-small-shovel-w: -66px -1056px;
	--icon-small-silktablecloth: -99px -1056px;
	--icon-small-sledgehammer: -132px -1056px;
	--icon-small-snapdragon: -165px -1056px;
	--icon-small-strawdoll: -198px -1056px;
	--icon-small-tabardplain: -231px -1056px;
	--icon-small-tangledbramble: -264px -1056px;
	--icon-small-thornythistle: -297px -1056px;
	--icon-small-tobacco-cured: -330px -1056px;
	--icon-small-tobacco-fresh: -363px -1056px;
	--icon-small-toga: -396px -1056px;
	--icon-small-travellerssack: -429px -1056px;
	--icon-small-treepot-u: -462px -1056px;
	--icon-small-trollbone: -495px -1056px;
	--icon-small-trollears: -528px -1056px;
	--icon-small-trollhelm: -561px -1056px;
	--icon-small-trollhide: -594px -1056px;
	--icon-small-trollskull: -627px -1056px;
	--icon-small-urn: -660px -1056px;
	--icon-small-vapntreyiu: -693px -1056px;
	--icon-small-volvawand: -726px -1056px;
	--icon-small-wallshelf: -759px -1056px;
	--icon-small-walruscape: -792px -1056px;
	--icon-small-walrushide: -825px -1056px;
	--icon-small-walrustusk: -858px -1056px;
	--icon-small-wanderersbindle: -891px -1056px;
	--icon-small-waterskin: -924px -1056px;
	--icon-small-wblock: -957px -1056px;
	--icon-small-wblock-mirkwood: -990px -1056px;
	--icon-small-wblock-oak: -1023px -1056px;
	--icon-small-wblock-spruce: -1056px -1056px;
	--icon-small-wildgoathide: -1089px -1056px;
	--icon-small-wildhorsehide: -1122px -1056px;
	--icon-small-wolverinehide: -1155px -1056px;
	--icon-small-wolverine: -1188px -1056px;
	--icon-small-woodcrown: 0px -1089px;
	--icon-small-woodsmansaxe: -33px -1089px;
	--icon-small-wooltablecloth: -66px -1089px;
	--icon-smithsbauble: -99px -1089px;
	--icon-smithshammer: -132px -1089px;
	--icon-snakeskinbelt: -165px -1089px;
	--icon-snakeskinboots: -198px -1089px;
	--icon-snakeskinstripes: -231px -1089px;
	--icon-snowball: -264px -1089px;
	--icon-snowglobe: -297px -1089px;
	--icon-snow: -330px -1089px;
	--icon-soapbar: -363px -1089px;
	--icon-soapbubble: -396px -1089px;
	--icon-softmetalcutlery: -429px -1089px;
	--icon-soil: -462px -1089px;
	--icon-sombrero: -495px -1089px;
	--icon-sorbapplecore: -528px -1089px;
	--icon-sorbapple: -561px -1089px;
	--icon-spectacles: -594px -1089px;
	--icon-spices: -627px -1089px;
	--icon-spicysalad: -660px -1089px;
	--icon-springstew: -693px -1089px;
	--icon-springwater: -726px -1089px;
	--icon-sprucecap: -759px -1089px;
	--icon-squirrel-carcass: -792px -1089px;
	--icon-squirrel-clean: -825px -1089px;
	--icon-squirrelhide-blood: -858px -1089px;
	--icon-squirrelhide: -891px -1089px;
	--icon-squirreltail-blood: -924px -1089px;
	--icon-squirreltail: -957px -1089px;
	--icon-stagbeetle: -990px -1089px;
	--icon-stainedglassheart: -1023px -1089px;
	--icon-stalagoomba: -1056px -1089px;
	--icon-steaktuber: -1089px -1089px;
	--icon-stillife: -1122px -1089px;
	--icon-stingingpoultice: -1155px -1089px;
	--icon-stingingsalad: -1188px -1089px;
	--icon-stitchpatch: 0px -1122px;
	--icon-stoneaxe: -33px -1122px;
	--icon-stonewarevase: -66px -1122px;
	--icon-stonewarevase-u: -99px -1122px;
	--icon-strangecrystal: -132px -1122px;
	--icon-strangeroot: -165px -1122px;
	--icon-strawhat: -198px -1122px;
	--icon-straw: -231px -1122px;
	--icon-strawstring: -264px -1122px;
	--icon-string: -297px -1122px;
	--icon-suckmaw: -330px -1122px;
	--icon-suttonhelm: -363px -1122px;
	--icon-swancape: -396px -1122px;
	--icon-sweetbeets: -429px -1122px;
	--icon-sylvanite: -462px -1122px;
	--icon-taflgame: -495px -1122px;
	--icon-tallowcandle: -528px -1122px;
	--icon-tanfluid: -561px -1122px;
	--icon-tankard-full: -594px -1122px;
	--icon-tankard: -627px -1122px;
	--icon-taprootlacing: -660px -1122px;
	--icon-tarsticks: -693px -1122px;
	--icon-tar: -726px -1122px;
	--icon-tea-any: -759px -1122px;
	--icon-tea-black: -792px -1122px;
	--icon-tea-fresh: -825px -1122px;
	--icon-tea-green: -858px -1122px;
	--icon-teapot-full: -891px -1122px;
	--icon-teapot: -924px -1122px;
	--icon-teapot-u: -957px -1122px;
	--icon-thanesring: -990px -1122px;
	--icon-thatching: -1023px -1122px;
	--icon-thimble: -1056px -1122px;
	--icon-tinvination: -1089px -1122px;
	--icon-tinwarrior: -1122px -1122px;
	--icon-tinyabacus: -1155px -1122px;
	--icon-toadbutter: -1188px -1122px;
	--icon-toad: 0px -1155px;
	--icon-tobacco-ground: -33px -1155px;
	--icon-tobacco: -66px -1155px;
	--icon-torch-l: -99px -1155px;
	--icon-torch: -132px -1155px;
	--icon-toychariot: -165px -1155px;
	--icon-toychariot-u: -198px -1155px;
	--icon-trash: -231px -1155px;
	--icon-treeseed: -264px -1155px;
	--icon-trollbelt: -297px -1155px;
	--icon-trolleye: -330px -1155px;
	--icon-trollhair: -363px -1155px;
	--icon-trollshrooms: -396px -1155px;
	--icon-tubermash: -429px -1155px;
	--icon-tuber: -462px -1155px;
	--icon-turnip: -495px -1155px;
	--icon-twigofspruce: -528px -1155px;
	--icon-uncrushedhusk: -561px -1155px;
	--icon-ushanka: -594px -1155px;
	--icon-vinegar: -627px -1155px;
	--icon-walnut: -660px -1155px;
	--icon-walrusboots: -693px -1155px;
	--icon-waterflask: -726px -1155px;
	--icon-waterstrider: -759px -1155px;
	--icon-water: -792px -1155px;
	--icon-waxlining: -825px -1155px;
	--icon-wax: -858px -1155px;
	--icon-wellplaicedpie: -891px -1155px;
	--icon-whitebeamfruit: -924px -1155px;
	--icon-wickerbreadbasket: -957px -1155px;
	--icon-winebottle-full: -990px -1155px;
	--icon-winebottle: -1023px -1155px;
	--icon-wineglass-full: -1056px -1155px;
	--icon-wineglass: -1089px -1155px;
	--icon-wine: -1122px -1155px;
	--icon-wingedhelmet: -1155px -1155px;
	--icon-wishbone: -1188px -1155px;
	--icon-wolverineboots: 0px -1188px;
	--icon-wondrouswoodshaving: -33px -1188px;
	--icon-woodencup-full: -66px -1188px;
	--icon-woodencup: -99px -1188px;
	--icon-woodencutlery: -132px -1188px;
	--icon-woodenplate: -165px -1188px;
	--icon-woodgrouse-f-cleaned: -198px -1188px;
	--icon-woodgrouse-f-dead: -231px -1188px;
	--icon-woodgrouse-f-plucked: -264px -1188px;
	--icon-woodtoken: -297px -1188px;
	--icon-woolcloth: -330px -1188px;
	--icon-woolcollar: -363px -1188px;
	--icon-wool-goat: -396px -1188px;
	--icon-woolpants: -429px -1188px;
	--icon-wool-sheep: -462px -1188px;
	--icon-woolshirt: -495px -1188px;
	--icon-woolstuffing: -528px -1188px;
	--icon-wool: -561px -1188px;
	--icon-wormapple: -594px -1188px;
	--icon-wort: -627px -1188px;
	--icon-wurst-badgerbotillo: -660px -1188px;
	--icon-wurst-bearsalami: -693px -1188px;
	--icon-wurst-beaverdog: -726px -1188px;
	--icon-wurst-bigbearbanger: -759px -1188px;
	--icon-wurst-boarbaloney: -792px -1188px;
	--icon-wurst-boarboudin: -825px -1188px;
	--icon-wurst-butcherssurprise: -858px -1188px;
	--icon-wurst-carpwal: -891px -1188px;
	--icon-wurst-cavedog: -924px -1188px;
	--icon-wurst-chickenchorizo: -957px -1188px;
	--icon-wurst-cowchorizo: -990px -1188px;
	--icon-wurst-deliciousdeer: -1023px -1188px;
	--icon-wurst-elkdog: -1056px -1188px;
	--icon-wurst-foxfuet: -1089px -1188px;
	--icon-wurst-foxwurst: -1122px -1188px;
	--icon-wurst-glazedgrazer: -1155px -1188px;
	--icon-wurst-lamblynx: -1188px -1188px;
	--icon-wurst-lambsausages: 0px -1221px;
	--icon-wurst-lynxalami: -33px -1221px;
	--icon-wurst-moodog: -66px -1221px;
	--icon-wurst-piglet: -99px -1221px;
	--icon-wurst-runningrabbit: -132px -1221px;
	--icon-wurst-swanneck: -165px -1221px;
	--icon-wurst-tamegame: -198px -1221px;
	--icon-wurst-woodking: -231px -1221px;
	--icon-wurst-www: -264px -1221px;
	--icon-yarn-sheep: -297px -1221px;
	--icon-yarn: -330px -1221px;
	--icon-yellowonion: -363px -1221px;
	--icon-zestybrill: -396px -1221px;
	--icon-herbs-wintergreen: -429px -1221px;
	--icon-herbs-marshmallow: -462px -1221px;
	--icon-herbs-fieldblewit: -495px -1221px;
	--icon-herbs-rainbowpad: -528px -1221px;
	--icon-kebab: -561px -1221px;
	--icon-egg-magpie: -594px -1221px;
	--icon-sandflea: -627px -1221px;
	--icon-cachalotcharm: -660px -1221px;
	--icon-whalersjacket: -693px -1221px;
	--icon-honeygruel: -726px -1221px;
	--icon-moonmoth: -759px -1221px;
	--icon-glazedhoneyons: -792px -1221px;
	--icon-grotesquetumor: -825px -1221px;
	--icon-seed-millet: -858px -1221px;
	--icon-jellyfish: -891px -1221px;
	--icon-herbs-oyster: -924px -1221px;
	--icon-meteorite: -957px -1221px;
	--icon-felt: -990px -1221px;
	--icon-felthat: -1023px -1221px;
	--icon-feltinlay: -1056px -1221px;
	--icon-mercuryglobe: -1089px -1221px;
	--icon-goldthread: -1122px -1221px;
	--icon-goldcloth: -1155px -1221px;
}