body {
    background-color: #2f3131;
    color: #f8f1e5;
    font-family: Arial, SansSerif, serif;
}

hr {
    border-color: #171818;
}

a {
    color: #f9ba32;
}

a:hover {
    color: #fcdc98;
}

a.active {
    color: #e0a72d;
    font-weight: bold;
}

#app-menu {
    background-color: #171818;
}

#app-footer span {
    color: rgba(255, 255, 255, 0.5);
}

input[type=number] {
    color: #f8f1e5;
    background-color: #1b2a38;
    border-color: #171818;
}

input[type=number]:focus {
    color: #f8f1e5;
    background-color: #34516c;
}

input[type=text] {
    background: none;
    border: none;
    border-bottom: 1px solid #171818;
    color: #f8f1e5;
    padding: 5px 10px;
}

input[type=text]:focus {
    outline: none;
}

.form-group label, .form-label {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.75);
}

.giant-stat-input {
    font-size: 2.5em;
    height: 100px;
    width: 100px;
    text-align: center;
}

.card {
    color: #f8f1e5;
    background-color: #434545;
    border-color: #171818;
    border-width: 1px;
    border-style: solid;
    width: 200px;
    padding: 2px;
    font-size: 0.8em;
}